<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="PleiadesDb" connectionString="Data Source=PLEIADES;Initial Catalog=CommerceUI;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/Account/LogOn" timeout="2880" />
    </authentication>

    <membership defaultProvider="CustomerMembershipProvider">
      <providers>
        <clear />
        <add name="CustomerMembershipProvider"
             type="Pleiades.MembershipProvider.Providers.PfMembershipProvider, Pleiades.MembershipProvider"
             connectionStringName="PleiadesDb"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="true"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <!-- For SHA1, set the validationKey to 64 bytes (128 hexadecimal characters).
      For AES, set the decryptionKey to 32 bytes (64 hexadecimal characters).
      For 3DES, set the decryptionKey to 24 bytes (48 hexadecimal characters). -->
    <machineKey decryption="AES" decryptionKey="AF9531C15F404D0CAF8DFA5B4F8A18F264BD4D934E5B78356AC3C834E2906055" validation="SHA1" validationKey="FAE8EA5759A0B166962D71B5C7DAA431662C8B4DE50E28D1FB7791BF2A46C7BE98323AF7BA4A790312CFB4C2C0AF7489E5D738C8B068C1C496C783DA6A20DA5A" />
  </system.web>  
</configuration>
