    <div class="navbar navbar-fixed-bottom">
		<div class="bottom-navbar-style">
			<div class="container">
			  <footer>
				<p>&copy; Push Global Software Solutions - LLC 2012 | <a href="#">Company</a> | <a href="#">Contact Technical Support</a></p>
			  </footer>
			</div>
		</div>
	</div>
