<div id="arena-top-spacer" style="height:50px; padding-top:20px;">
    <span>Company</span> &gt;&gt; <span>Contact</span>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="main-header">Drop Us a Line.  Now!</h1>
        
        <div style="clear:both; height:20px;"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h1 class="sub-header">Windy City.  Chicago. Always.</h1>
        <p>
            1198 N. Western Avenue, Chicago, IL 60622
        </p>
        <p>
            <img class="shadow img-responsive"
                 src="http://maps.googleapis.com/maps/api/staticmap?center=41.9030078,-87.6870902&zoom=12&size=500x500&sensor=false&markers=color:red%7C41.9030078,-87.6870902" />
        </p>
        <div style="height:30px;"></div>
    </div>

    <div class="col-lg-6">
        <h1 class="sub-header">Speak Your Mind.</h1>
        <p>
            Lorem ipsum copy text about ArtOfGroundFighting.com and how we're the best Jiu-Jitsu fighters the
            world has ever seen.  Lorem ipsum copy text about ArtOfGroundFighting.com and how we're the best Jiu-Jitsu fighters the
            world has ever seen.
        </p>
        <form id="contact-info">
            <div class="form-group">
                <label for="email">What's Your Email Address?</label>
                <input class="form-control" type="text" id="email" name="email" ng-model="email" placeholder="Email Address" maxlength="50">
            </div>
            <div class="form-group">
                <label for="message">Comments, Questions, or Complaints</label>
                <textarea rows="6" class="form-control" id="message" name="message" ng-model="message" maxlength="50"></textarea>
            </div>
            <div id="validation-error" style="text-align:center; display:none; height:50px; clear:both;" class="alert alert-danger">
                <strong>Please enter a valid email address and fill in your message</strong>
            </div>
            <div id="validation-info" style="text-align:center; display:none; height:50px; clear:both;" class="alert alert-info">
                <strong>Thanks for the message!  We'll respond to you shortly.</strong>
            </div>
            <div>
                <button class="btn btn-default" id="send" ng-click="send()" style="font-weight:bold; color:#555; width:100px;">
                    Send&nbsp; <i class="glyphicon glyphicon-envelope"></i>
                </button>
            </div>
        </form>

        <div style="height:30px;"></div>
        
        <h1 class="sub-header">Urgent?  Get on the Horn.</h1>        
        <p>Lorem ipsum copy text about ArtOfGroundFighting.com and how we're the best Jiu-Jitsu fighters the 
            world has ever seen.  Lorem ipsum copy text about ArtOfGroundFighting.com and how we're the best Jiu-Jitsu fighters the 
            world has ever seen.</p>
        <p>
            <table>
                <tr>
                    <td style="width:150px;"><b><span style="color:#777;">Support Hours:</span></b></td>
                    <td><b>9AM to 6PM Central Standard Time</b></td>
                </tr>
                <tr>
                    <td><b><span style="color:#777;">Call Us:</span></b></td>
                    <td><b>1-800-CHOKE-4U <i class="glyphicon glyphicon-phone-alt"></i></b></td>
                </tr>
            </table>
             <br/>
        </p>
        <div style="height:30px;"></div>
   </div>
</div>

