<!-- Completion Functions -->
<script type="text/javascript">
    var PushMkt = PushMkt || {};

    PushMkt.AddCompletionFunctions = function (model) {
        var self = model;

        self.CompletedOrderResponse = ko.observable(null);

        self.StartOverClick = function () {
            // Clear Cart
            self.SearchData.removeAll();
            self.Cart(new PushMkt.Cart());

            // Glide Right to Beginning
            self.GlideRight("SelectProducts");
        };
    }
</script>

<!-- KNOCKOUT TEMPLATES - Completion -->
<script type="text/html" id="Top-Workspace-Completion">
	<div id="heading" class="container">
        <div class="row">
			<div class="span9">
				<h1>Create Order &gt; Complete!</h1>
			</div>
			<div class="span3" style="margin-top:15px; text-align:right;">
                <a name="btn-submit-order" class="btn btn-primary" style="width:190px;" data-bind="click: $root.StartOverClick">
                    <i class="icon-pencil icon-white"></i> Create Another Order <i class="icon-arrow-right icon-white"></i>
                </a>
			</div>
		</div>

        <div class="row">
            <div class="span7" style="height:48px;">
                <!-- NADA -->
            </div>
        </div>
	</div>
</script>

<script type="text/html" id="Main-Editor-Completion">
    <div style="margin-bottom:100px;" data-bind="with: $root.CompletedOrderResponse()">
        <!-- Thank you for your Order -->

        <div class="hero-unit" style="margin-top:30px;">
            <h1 style="font-size:45px;">Thanks for Shopping With Pushmarket!</h1>
            
            <!-- Order Fulfillment -->
            <div style="clear:both; width:100%; margin-bottom:20px;">
                <h4 style="margin-bottom:10px; margin-top:30px; color:#666;">Order Fulfillment</h4>

                <table>
                    <tbody data-bind="foreach: $data.Messages">
                    <tr>
                        <td>
                            <span data-bind="text: $data"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div data-bind="if: $data.Order.Total.GrandTotal > 0">
                <table data-bind="with: $data.Order">
                <tr>
                    <td  valign="top" style="width:375px;">
                        <!-- Payment Summary & Shipping Information -->
                        <h4 style="margin-bottom:10px; color:#666;">Payment Summary</h4>
                    
                        <table id="order-summary">
                            <tr>
                                <td>Order Subtotal:</td>
                                <td><span data-bind="text: ToMoney($data.Total.SubTotal)"></span></td>
                            </tr>
                            <tr>
                                <td>Sales Tax (<span data-bind="text: $data.Total.StateTax.Abbreviation"></span>):</td>
                                <td><span data-bind="text: ToMoney($data.Total.Tax)"></span></td>
                            </tr>
                            <tr>
                                <td>Shipping:</td>
                                <td><span data-bind="text: ToMoney($data.Total.ShippingCost)"></span></td>
                            </tr>
                            <tr>
                                <td><span style="font-weight:bold; color:#444;">Order Total:</span></td>
                                <td><span style="font-weight:bold; color:#444;" data-bind="text: ToMoney($data.Total.GrandTotal)"></span></td>
                            </tr>
                        </table>

                        <h4 style="margin-bottom:10px; margin-top:30px; float:left; color:#666;">Shipping - <span data-bind="text: $data.Total.ShippingMethod.Description"></span></h4>

                        <div style="clear:both;">
                            <div data-bind="text: $data.Name"></div>
                            <div data-bind="text: $data.Address1"></div>
                            <div data-bind="text: $data.Address2"></div>
                            <div data-bind="text: $data.City + ', ' + $data.State + ' ' + $data.ZipCode"></div>
                        </div>
                    </td>

                    <td valign="top">
                        <div data-bind="if: $data.Total.GrandTotal > 0">
                            <!-- Order Summary -->
                            <h4 style="margin-bottom:10px; color:#666;">Order Summary</h4>

                            <div data-bind="foreach: $data.OrderLines">
                                <div data-bind="if: $data.Quantity > 0">
                                    <span style="font-weight:bold" data-bind="text: $data.Sku.Name"></span>
                                    <div style="clear:both;"></div>

                                    <span>Quantity:</span> <span data-bind="text: $data.Quantity"></span> - 
                                    <span>Price per Item:</span> <span data-bind="text: ToMoney($data.OriginalUnitPrice)"></span>
                                    <div style="clear:both; height:10px;"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</script>
