@using Pleiades.Web.MvcHelpers

@section _Scripts {    
    <script type="text/javascript">
		// KO enabling/disabling of server JSON
        var SectionToKnockout = function(section) {
			return {
				Id: ko.observable(section.Id),
            };
        }

		var SectionToServerJson = function(section) {
			return {
			    Id: section.Id(),
			};
		};
    </script>
    <script type="text/javascript">
        var EndlessGlider = function (container, divId1, divId2) {
            var self = this;

            self.Glider1 = new GliderWidget(container, divId1, divId2);
            self.Glider2 = new GliderWidget(container, divId2, divId1);

            self.WorkspaceTemplate = ko.observable(null);
            self.EditorTemplate1 = ko.observable(null);
            self.EditorTemplate2 = ko.observable(null);
            self.ActiveEditor = null;

            self.Init = function (workspaceTemplate, editorTemplate) {
                self.ActiveEditor = 1;
                self.WorkspaceTemplate(workspaceTemplate);
                self.EditorTemplate1(editorTemplate);
            }

            self.GlideToRight = function (workspaceTemplate, editorTemplate) {
                self.Glide(workspaceTemplate, editorTemplate, "RIGHT");
            }

            self.GlideToLeft = function (workspaceTemplate, editorTemplate) {
                self.Glide(workspaceTemplate, editorTemplate, "LEFT");
            }

            self.Glide = function (workspaceTemplate, editorTemplate, direction) {
                var activeGlider = self.ActiveEditor == 1 ? self.Glider1 : self.Glider2;
                var nextEditorTemplate = self.ActiveEditor == 1 ? self.EditorTemplate2 : self.EditorTemplate1;

                flow.exec(
                    function () {
                        if (direction == "LEFT") {
                            activeGlider.GlideToParent(this);
                        } else {
                            activeGlider.GlideToChild(this);
                        }
                    },
                    function () {
                        self.ActiveEditor = self.ActiveEditor == 1 ? 2 : 1;
                        nextEditorTemplate(editorTemplate);
                        self.WorkspaceTemplate(workspaceTemplate);
                    }
                );
            }
        }
    </script>
	<script type="text/javascript">
	    var AddSelectProductsFunctions = function (model) {
	        var self = model;

	        self.NextSteps1 = function () {
	            self.EndlessGlider.GlideToRight("Top-Workspace-ReviewProducts", "Main-Editor-ReviewProducts")
	        }
	    }
    </script>
	<script type="text/javascript">
	    var AddReviewProductsFunctions = function (model) {
	        var self = model;

	        self.NextSteps2 = function () {
	            self.EndlessGlider.GlideToRight("Top-Workspace-SelectProducts", "Main-Editor-SelectProducts")
	        }
	    }
    </script>
	<script type="text/javascript">
	    function CreateOrderViewModel(serviceAdapter) {
	        var self = this;

	        // Data
	        self.Input = ko.observable(null);

	        // View concerns
	        var commonUI = new CommonUI();
	        self.Service = new AjaxService(commonUI.Error, commonUI.ShowLoading, commonUI.HideLoading);
	        self.ModalViewModel = ko.observable({ Template: null, Data: null });

	        var glider = new EndlessGlider("#gliding-container", "#glider1", "#glider2");
	        glider.Init("Top-Workspace-SelectProducts", "Main-Editor-SelectProducts");
	        self.EndlessGlider = glider;
	    }

	    $(function () {
	        var model = new CreateOrderViewModel();
	        AddSelectProductsFunctions(model);
	        AddReviewProductsFunctions(model);
	        ko.applyBindings(model);
	    });
	</script>
}	

@section _Templates {
	<!-- KNOCKOUT TEMPLATES - Select Products -->
	<script type="text/html" id="Top-Workspace-SelectProducts">
		<div id="heading" class="container">
            <div class="row">
				<div class="span10">
					<h1>Create Order &gt; Select Products</h1>
				</div>
				<div class="span2" style="margin-top:15px; text-align:right;">
					<a class="btn btn-primary btn-block" data-bind="click: $root.NextSteps1">Next <i class="icon-arrow-right icon-white"></i></a>
				</div>
			</div>
		</div>
	</script>
	<script type="text/html" id="Main-Editor-SelectProducts">
        <h1>Editor #1 - Select Products</h1>

		<table class="table table-hover">
			<tbody data-bind="">
			</tbody>
		</table>
	</script>
	
	<!-- KNOCKOUT TEMPLATES - Review Products -->
	<script type="text/html" id="Top-Workspace-ReviewProducts">
		<div id="heading" class="container">
            <div class="row">
				<div class="span10">
					<h1>Create Order &gt; Review Products</h1>
				</div>
				<div class="span2" style="margin-top:15px; text-align:right;">
					<a class="btn btn-primary btn-block" data-bind="click: $root.NextSteps2">Next <i class="icon-arrow-right icon-white"></i></a>
				</div>
			</div>
		</div>
	</script>
	<script type="text/html" id="Main-Editor-ReviewProducts">
        <h1>Editor #2 - Review Products</h1>

		<table class="table table-hover">
			<tbody data-bind="">
			</tbody>
		</table>
	</script>

	<!-- KNOCKOUT TEMPLATE - MODAL DIALOG -->
	<script type="text/html" id="Modal-Dialog">
		<div id="modal-delete" class="modal hide fade" data-bind="if: $root.SelectedRecord()">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Delete <span data-bind="text: $root.SelectedRecord().Name()"></span></h3>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to Delete this Section?</p>			
				<p><strong>Warning: all <span data-bind="text: $root.SelectedRecord().NumberOfCategories()"></span> Categories and Sub-Categories will be Deleted, too.</strong></p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-inverse" data-dismiss="modal"><i class="icon-remove icon-white"></i> Cancel</a>
				<a href="#" id="modal-action" class="btn btn-primary" data-bind="click: $root.DeleteConfirm"><i class="icon-ok icon-white"></i> Ok</a>
			</div>
		</div>		
	</script>
}

@section _Body {
    <div class="workspace-heading-parent">
		<div class="workspace-heading" data-bind="template: { name: $root.EndlessGlider.WorkspaceTemplate(), data: $root.Input }">
        </div>
	</div>
	
    <!-- TODO: create two Gliding Containers -->

	<div id="gliding-container" class="container">
		<div id="glider1" class="glider">
			<div style="margin-bottom:200px;" data-bind="template: { name: $root.EndlessGlider.EditorTemplate1(), data: $root.Input }">
			</div>
		</div>		
		<div id="glider2" class="glider">
			<div style="margin-bottom:200px;"  data-bind="template: { name: $root.EndlessGlider.EditorTemplate2(), data: $root.Input }">
			</div>
        </div>
    </div>

    <div id="modal-enclave" data-bind="template: { name: $root.ModalViewModel().Template }"></div>    
}