@using Pleiades.Web.MvcHelpers

@section _Scripts {
	<script type="text/javascript">
        // KO enabling/disabling of server JSON
        var SectionToKnockout = function(section) {
			return {
				Id: ko.observable(section.Id),
				Name: ko.observable(section.Name),
				SEO: ko.observable(section.SEO),
                NumberOfCategories: ko.observable(section.NumberOfCategories),
            };
        }

		var SectionToServerJson = function(section) {
			return {
			    Id: section.Id(),
			    Name: section.Name(),
			    SEO: section.SEO()
			};
		};

	    function SectionViewModel(serviceAdapter) {	
			var self = this;

			self.EditRecord = function(record) {
			    self.CancelEdit();				
				record.EditName = ko.observable(record.Name());
				record.EditSEO = ko.observable(record.SEO());
				self.SelectedRecord(record);
			}
			
			self.AddRecord = function() {
			    var section = SectionToKnockout({ Id: null, ParentGroupId: null, Name: "", SEO: "", NumberOfCategories: 0 });				
				self.Data.unshift(section);
				self.EditRecord(section);
				window.scrollTo(0, 0);
			}
			
			self.CancelEdit = function() {
			    if (self.SelectedRecord() && self.SelectedRecord().Id() === null) {
					self.Data.remove(self.SelectedRecord());
				}
                self.SelectedRecord(null);
			}

			self.RetrieveSections = function (callback) {
			    flow.exec(
					function () {
					    self.SelectedRecord(null);
					    self.ServiceAdapter.RetrieveAllSections(this);
					},
					function (data) {
					    var knockoutData = [];
					    $.each(data, function (index, element) {
					        knockoutData.push(SectionToKnockout(element));
					    });
					    self.Data(knockoutData);

					    if (callback) callback();
					}
				);
			}
			
			self.SaveSection = function() {
				flow.exec(
					function() {
						var record = self.SelectedRecord();
						if ($.trim(record.EditName()) == "" || $.trim(record.EditSEO()) == "") {
                        	$("#validation").show();
							return;
						}
						record.Name(record.EditName());
						record.SEO(record.EditSEO());

                        if (record.Id()) {
						    self.ServiceAdapter.Update(SectionToServerJson(record), this);
                        } else {
						    self.ServiceAdapter.Insert(SectionToServerJson(record), this);
                        }
					},
					function(data) {						
						self.SelectedRecord().Id(data.Id);				
						self.SelectedRecord(null);
					}
				);
			}

			self.DeleteSection = function() {
				self.ModalViewModel("Delete");
				$('#modal-delete').modal();
		    }

			self.DeleteConfirm = function() { 
				$('#modal-delete').modal('hide');
			    flow.exec(
                    function() {
				        var record = self.SelectedRecord();
				        self.ServiceAdapter.Delete(SectionToServerJson(record), this);
                    },
                    function() {
						self.RetrieveSections(this);
                    },
                    function() {
				        self.SelectedRecord(null);
				    }
                );
			}

			// Initialization
			self.ServiceAdapter = serviceAdapter;
            self.Data = ko.observableArray();
            self.SelectedRecord = ko.observable(null); 
			self.ModalViewModel = ko.observable(null);
			self.RetrieveSections();
		}

		function SectionService() {
		    var self = new PushLibrary.Ajax();

		    self.RetrieveAllSections = function (callback) {
		        self.AjaxGet("/Admin/Section/Sections", callback);
		    };

		    self.Insert = function (section, callback) {
		        self.AjaxPost("/Admin/Section/Insert", section, callback);
		    };

		    self.Update = function (section, callback) {
		        self.AjaxPost("/Admin/Section/Update", section, callback);
		    }

		    self.Delete = function (section, callback) {
		        self.AjaxPost("/Admin/Section/Delete", section, callback);
		    };

		    return self;
		}

		$(function() {
            var serviceAdapter = new SectionService();
            var model = new SectionViewModel(serviceAdapter);
			ko.applyBindings(model);
		});
	</script>
}

@section _Templates {
	<!-- KNOCKOUT TEMPLATE - TOP WORKSPACE -->
	<script type="text/html" id="Top-Workspace">
		<div id="heading" class="container" data-bind="if: $root.Data()">
			<div class="row">
				<div class="span9">
					<h1>Sections > All</h1>
				</div>
				<div class="span3" style="margin-top:15px; text-align:right;">
					<a class="btn btn-primary btn-block" data-bind="click: $root.AddColorRecord">AddColor New Section <i class="icon-plus icon-white"></i></a>
				</div>
			</div>
		</div>
	</script>
	
	<!-- KNOCKOUT TEMPLATE - CHILD EDITOR -->
	<script type="text/html" id="Main-Editor">
		<table class="table table-hover">
			<tbody data-bind="template: { name: 'Editor-Row', foreach: $data }">
			</tbody>
		</table>

        <!--
        <div style="margin-top:40px; text-align:center;" class="alert alert-info" data-bind="visible: $data.Data.length == 0">
			<strong>There are no Sections.  Click "AddColor New Section" to start adding a new one.</strong>  
	    </div>-->
	</script>
	
	<!-- KNOCKOUT TEMPLATE - EDITOR ROW -->
	<script type="text/html" id="Editor-Row">
		<tr data-bind="if: $root.SelectedRecord() != $data, click: $root.EditRecord">
		<td style="height:70px;">
			<span style="width:700px; float:left;">	
				<input type="hidden" data-bind="attr: { id: 'tracker' + $data.Id() }" />
                <h4>
                    <span data-bind="text: $data.Name()"></span> - 
                    <span data-bind="text: $data.SEO()"></span>
                </h4>	
                <span data-bind="text: $data.NumberOfCategories()"></span> Categories &amp; Sub-Categories
			</span>
			<span style="width:200px; float:left; text-align:right; padding-top:20px;">
				<p>Touch Row to Edit</p>
			</span>
		</td>
		</tr>

		<!-- EDITOR TEMPLATE -->
        <tr data-bind="if: $root.SelectedRecord() == $data">
        <td>
			<form>
			    <div id="validation" style="text-align:center; clear:both; display: none;" class="alert alert-error">
				    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Please enter all information for this Section.</strong>  
			    </div>		    
			    <div style="padding-top:10px;">
				    <!-- EDITOR FIELDS -->
				    <span style="width:600px; float:left;">
					    <input id="entry" class="input-large" style="float:left; width:250px; margin-right:20px;" type="text" placeholder="Enter Name" data-bind="value: $data.EditName" maxlength="20" />
					    <input id="entry" class="input-large" style="float:left; width:250px; margin-right:20px;" type="text" placeholder="Enter SEO" data-bind="value: $data.EditSEO" maxlength="20" />
				    </span>

				    <!-- BUTTONS -->
				    <span style="width:300px; float:left; text-align:right;">
					    <a class="btn btn-primary" href="#" data-bind="click: $root.SaveSection"><i class="icon-ok icon-white"></i> Save</a>
                        <!-- ko if: $root.Data().length > 1 -->
					    <a class="btn btn-primary" href="#" data-bind="click: $root.DeleteSection"><i class="icon-trash icon-white"></i> Delete</a>
                        <!-- /ko -->
					    <a class="btn btn-inverse" href="#" data-bind="click: $root.CancelEdit"><i class="icon-remove icon-white"></i> Cancel</a>
				    </span>

			        <div style="clear:both; height:14px;">			
                        <span data-bind="text: $data.NumberOfCategories()"></span> Categories &amp; Sub-Categories
                    </div>
			    </div>
			</form>
		</td>
		</tr>
	</script>
	
	<!-- KNOCKOUT TEMPLATE - MODAL DIALOG -->
	<script type="text/html" id="Modal-Dialog">
		<div id="modal-delete" class="modal hide fade" data-bind="if: $root.SelectedRecord()">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Delete <span data-bind="text: $root.SelectedRecord().Name()"></span></h3>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to Delete this Section?</p>			
				<p><strong>Warning: all <span data-bind="text: $root.SelectedRecord().NumberOfCategories()"></span> Categories and Sub-Categories will be Deleted, too.</strong></p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-inverse" data-dismiss="modal"><i class="icon-remove icon-white"></i> Cancel</a>
				<a href="#" id="modal-action" class="btn btn-primary" data-bind="click: $root.DeleteConfirm"><i class="icon-ok icon-white"></i> Ok</a>
			</div>
		</div>		
	</script>
}

@section _Body {
    <div class="workspace-heading-parent">
		<div class="workspace-heading" data-bind="template: { name: 'Top-Workspace', data: $root }"></div>
	</div>
	
	<div id="gliding-container" class="container">
		<div id="editor">
			<div style="margin-bottom:200px;" data-bind="template: { name: 'Main-Editor', data: $root.Data }">
			</div>
		</div>		
    </div>

    <div id="modal-enclave" data-bind="template: { name: 'Modal-Dialog' }"></div>    
}