@section _Body {   

    <!-- TODO: upgrade to Bootstrap 3 -->
    <div id="heading" class="container" style="margin-top: 200px;">
        <div class="hero-unit">
            <h2>Customer Service</h2>
            
            <p style="color: #666;"><strong>We're here to help.  Send us a message or call us at 1-510-717-8112.</strong></p>

            <div style="clear: both; height: 50px;"></div>
            
            <textarea class="form-control" rows="6" style="width: 800px;"></textarea>
            
            <div style="clear: both; height: 10px;"></div>

            <a href="@Url.RouteUrl(AdminNavigation.Home())" class="btn btn-primary btn-large btn-block" style="width: 200px; margin-top: 0px;">
                <i class="icon-white icon-comment"></i> &nbsp;Talk To Us  
            </a>
        </div>
    </div>
}
