@using Pleiades.Web.MvcHelpers

@section _Scripts { 
    @Html.Partial("_FineUploader")
    @Html.Javascript("/scripts/fineupload-init.js")    
    
    <script type="text/javascript">        
		// KO enabling/disabling of server JSON
        var ImageBundleToKnockout = function(section) {
			return {
				Id: ko.observable(section.Id),
				Name: ko.observable(section.Name),
				SEO: ko.observable(section.SEO)
            };
        }
    </script>

	<script type="text/javascript">
        var imageControllerEndpoint = "UploadFile";

	    function UploadViewModel(serviceAdapter) {
	        var self = this;

	        // Initialization
	        self.ServiceAdapter = serviceAdapter;
	        self.Data = ko.observable(null);
            self.ModalViewModel = ko.observable(null);
	        self.RetrieveSections();
	    }

	    $(function () {
	        var crosscuttingUI = new CrossCuttingUI();
	        var fileUploader = new CommerceFileUploader(crosscuttingUI.Error);
	    });
	</script>
}

@section _Templates {
	
	<!-- KNOCKOUT TEMPLATE - CHILD EDITOR -->
	<script type="text/html" id="Main-Editor">
        
	</script>
}

@section _Body {
    <div class="workspace-heading-parent">
		<div class="workspace-heading">
            <div id="heading" class="container">
                <div class="row">
				    <div class="span9">
					    <h1>Image Upload Test Page</h1>
				    </div>
			    </div>
		    </div>
        </div>
	</div>
	
	<div id="gliding-container" class="container">
        <!-- TODO: package this in a Partial View -->
		<div id="row">
            <div id="thumbNailImage">
                
            </div>

            <div id="fine-uploader-basic" class="btn btn-success">
                <i class="icon-upload icon-white"></i> Click to upload
            </div>
            <a id="fine-uploader-basic-busy" class="btn btn-success disabled" style="display:none;">
                <i class="icon-upload icon-white"></i> Click to upload
            </a>
            <div id="messages"></div>
		</div>
    </div>

    <div id="modal-enclave" data-bind="template: { name: 'Modal-Dialog' }">
    </div>    
}