@using Pleiades.Web.MvcHelpers

@section _Scripts { 
    @Html.Partial("_FineUploader")
	@Html.Partial("_ImageBundleViewer")

    <script type="text/javascript">
	    function UploadViewModel() {
	        var self = this;
	        self.ImageBundle = ko.observable(null);
	        self.ModalViewModel = ko.observable(null);

            // This is the bit of glue that bridges FineUploader and the Image Gallery stuff
	        self.OnFileUpload = function (imageBundleData) {
	            console.log("OnFileUpload: " + imageBundleData.ExternalId);
	            self.ImageBundle(imageBundleData);
	        };

	        self.LightboxParameters = ko.computed(function () {
	            var externalResourceId = self.ImageBundle() ? self.ImageBundle().ExternalId : null;
	            return { ExternalResourceId: externalResourceId, LightboxSuffixId: 'Main' };
	        });
	    }

	    $(function () {
	        var crosscuttingUI = new CommonUI();
	        var model = new UploadViewModel();
	        ko.applyBindings(model);
	        var fileUploader = new CommerceFileUploader(crosscuttingUI.Error, model.OnFileUpload);
	    });
	</script>
}

@section _Body {
    <div class="workspace-heading-parent">
		<div class="workspace-heading">
            <div id="heading" class="container">
                <div class="row">
				    <div class="span9">
					    <h1>Image Upload Test Page</h1>
				    </div>
			    </div>
		    </div>
        </div>
	</div>
	
	<div id="gliding-container" class="container">
		<div id="row">
            <div style="margin-bottom:20px; margin-top:20px;" data-bind="template: { name: 'Image-Bundle-Small-Viewer', data: $root.LightboxParameters }">
            </div>

			<div style="margin-bottom:20px; margin-top:20px;" data-bind="template: { name: 'Fine-Uploader', data: $root }">
			</div>
		</div>
    </div>
}