@using Commerce.Web.Areas.Admin
@using Commerce.Web.Areas.Public
@model ProductListModel

@section _Body {    
    <div id="arena" class="container" ng-view></div>
    
    <div id="test-stuff-afterthought" class="container">
        @Html.RouteLink("Go To Admin Area", AdminNavigation.Home())<br />
        <a href="@Url.RouteUrl(PublicNavigation.TestHttp500())">Let things blow up!</a><br />
    </div>
}
