@using Commerce.Web.Areas.Public
@model ErrorModel

@{
    Layout = "~/Areas/Public/Views/Shared/_Layout.cshtml";
}

@section _Body {   
    <div id="heading" class="container" style="margin-top:200px;">
        <div class="hero-unit">
            <h1>Oh noes! System Error...</h1>
            
            <div style="height:20px; width:100px; clear:both;"></div>
            
            <div style="float:left; width:600px; height:200px;">
                <p style="color:#666;"><strong>We've just encountered some technical difficulties.  Don't worry, our internal systems team is working hard to make things right.</strong></p>
	    
                <div style="height:40px; width:100px; clear:both;"></div>
            
                @if (Model.AspxErrorPath != null)
                {
                    <a style="float:left; margin-right:20px; width:250px;" href="@Url.Content(Model.AspxErrorPath)" class="btn btn-success btn-large btn-block">
		                <i class="icon-white icon-arrow-left"></i> &nbsp;Go Back And Try Again
		            </a>
                }
                
                <a href="@Url.RouteUrl(PublicNavigation.Home())" class="btn btn-primary btn-large btn-block" style="float: left; width: 250px; margin-top: 0px;">
                    <i class="icon-white icon-home"></i> &nbsp;Navigate Home  
                </a>
            </div>
            
            <div style="float:left; width:210px; text-align:right;"></div>

            <img src="@Url.Content("~/Content/Commerce.Web/Images/ohnoes.png")" />
        </div>
    </div> 
}