    <!-- KNOCKOUT TEMPLATE - PARENT EDITOR SEARCH -->
	<script type="text/html" id="Parent-Editor-Search">
		<div style="margin-top:30px; text-align:center;" class="alert alert-info" data-bind="visible: $root.SearchData().length == 0">
			<strong>There are no Products in your current search.  Click "Search" to run a search or click "Add New Product" to create a new one.</strong>  
		</div>
		
		<table id="parent-editor-table" class="table table-hover" data-bind="visible: $root.SearchData().length > 0">
		<tbody data-bind="foreach: $root.SearchData()">
			<tr>
			<td>
				<span class="span2">
                	<div data-bind="template: { name: 'Image-Bundle-Thumbnail-Viewer', data: { ImageBundleExternalId: $data.ImageBundleExternalId, LightboxSuffixId: 'Parent' } }">
			        </div>
                </span>
            </td>
            <td>
				<span class="span7">
					<input type="hidden" data-bind="attr: { id: 'tracker' + $data.Id }" />
					<p>
                        <h4 data-bind="text: $data.Name" style="margin-bottom:5px;"></h4>
                        <span data-bind="text: 'Sku: ' + $data.SkuCode"></span><br />
                        <span data-bind="text: 'Brand: ' + $data.BrandName"></span><br />
                        <span data-bind="text: 'Price: ' + ToMoney($data.UnitPrice)"></span>
                    </p>
				</span>
            </td>
			<td>
				<span class="span3" style="text-align:right;">					
					<a class="btn btn-primary" style="width:70px;" href="#" data-bind="click: function() { $parent.DeleteProduct($data) }"><i class="icon-trash icon-white"></i> Delete</a>
					<a class="btn btn-inverse" style="width:70px;" data-bind="click: $parent.EditProduct">Edit <i class="icon-arrow-right icon-white"></i></a>
				</span>
			</td>
			</tr>
		</tbody>
		</table>
	</script>
	
    <!-- KNOCKOUT TEMPLATE - CHILD EDITOR INFO TAB -->
	<script type="text/html" id="Child-Editor-Info">
        <div style="margin-top:20px;" data-bind="with: $root.SelectedProduct()">
        <form>
			<div id="validation" style="text-align:center; clear:both; display:none;" class="alert alert-error">
                <strong>Please enter all the required fields.</strong>
			</div>

            <div class="row">
                <div class="span6">
                    <div class="row">
                        <div id="ProductName" class="span6 control-group">
                            <label>Product Name<br /><input class="input-large" style="width:440px;" type="text" placeholder="Enter Product Name" data-bind="value: $data.Name" maxlength="50" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div id="SkuCode" class="span3 control-group">
                            <label>SKU Code<br /><input class="input-large" style="width:200px;" type="text" placeholder="Enter Sku Code" data-bind="value: $data.SkuCode" maxlength="10" />
				            </label>
                        </div>
                        <div id="SEO" class="span3 control-group">
                            <label>SEO<br /><input class="input-large" style="width:200px;" type="text" placeholder="Enter SEO Tag" data-bind="value: $data.SEO" maxlength="50" />
				            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div id="Synopsis" class="span6 control-group">
                            <label>Synopsis (short desc.)<br/>
                                <textarea id="entry" type="text" class="input-large" style="width:440px;" rows="2" 
                                    placeholder="Enter Synopsis" data-bind="value: $data.Synopsis" maxlength="200" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div id="Description" class="span6 control-group">
                            <label>Description<br/>
                                <textarea id="entry" type="text" class="input-large" style="width:440px;" rows="6" 
                                    placeholder="Enter Description" data-bind="value: $data.Description" maxlength="500" />
                            </label>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <div class="row">
                        <div class="span3 control-group">
                            <label>Unit Price<br /><input class="input-large" style="width:200px;" type="text" placeholder="Enter Unit Price" data-bind="value: $data.UnitPriceFormatted" maxlength="12" />
				            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3 control-group">
                            <label>Unit Cost<br /><input class="input-large" style="width:200px;" type="text" placeholder="Enter Unit Cost" data-bind="value: $data.UnitCostFormatted" maxlength="12" />
				            </label>
                        </div>
                    </div>
                    <div class="row">
				        <div id="Brand" class="span3 control-group">
                            <label>Brand<br />
                                <select id="SelectedBrand" data-bind="options: $root.BrandArray, optionsText: 'text', optionsValue:'value', value: $data.BrandId" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div id="Category" class="span3 control-group">
                            <label>Category<br />
                                <select id="SelectedCategory" data-bind="options: $root.CategoryArray, optionsText: 'text', optionsValue:'value', value: $data.CategoryId" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>            
        </form>
        </div>
	</script>
