@using Pleiades.Web.MvcHelpers

@section _Scripts {
    <!-- TODO: make another Partial -->
    @Html.Javascript("/scripts/product-service.js")
    @Html.Partial("_ColorPicker")
    @Html.Partial("_FineUploader")
	@Html.Partial("_ImageBundleViewer")	
    
    <script type="text/javascript">
		// KO enabling/disabling of server JSON        
        var ProductInfoToKnockout = function(product) {
			return {
				Id: ko.observable(product.Id),
				Name: ko.observable(product.Name),
				SEO: ko.observable(product.SEO),
				SkuCode: ko.observable(product.SkuCode),
				Synopsis: ko.observable(product.Synopsis),
                Description: ko.observable(product.Description),
                UnitPrice: ko.observable(product.UnitPrice),

                EditName: ko.observable(product.Name),
                EditSEO: ko.observable(product.SEO),
                EditSkuCode: ko.observable(product.SkuCode),
                EditSynopsis: ko.observable(product.Synopsis),
                EditDescription: ko.observable(product.Description),

                EditUnitPrice: ko.observable(product.UnitPrice),
                EditUnitCost: ko.observable(product.UnitCost),



                ImageBundleExternalId: ko.observable(product.ImageBundleExternalId),
			};
		}

        var ProductInfoToServerJson = function(product) {
			return {
				Id: product.Id(),
				Name: product.Name(),
                SEO: product.SEO(),
                SkuCode: product.SkuCode(),
                Synopsis: product.Synopsis(),
                Description: product.Description(),
                ImageBundleExternalId: product.ImageBundleExternalId(),
			};
		}
	</script>
    <script type="text/javascript">
        var ProductViewModel = function (productServiceAdapter, crossCuttingUI, gliderWidget) {
            var self = this;

            // asynchronous, service-bound operations            
            self.GlideToChildView = function (product) {
                flow.exec(
					function () {
					    self.SelectedIndex = self.SearchData.indexOf(product);
					    self.ProductServiceAdapter.Retrieve(product.Id, this);
					},
					function (product) {
					    var knockedoutData = ProductInfoToKnockout(product);
					    self.SelectedProduct(knockedoutData);
					    self.Glider.GlideToChild();
					}
				);
            }

            self.GlideToParentView = function () {
                var recordId = self.SelectedProduct().Id();
                flow.exec(
                    function () {
                        $("#glideToParent").hide();
                        self.Glider.GlideToParent(this);
                    },
					function () {
					    self.SelectedProduct(null);
					    self.SelectedIndex = null;
					    self.CrossCuttingUI.ScrollToIdTracker(recordId);
					}
				);
            }

            self.RetrieveCategories = function (callback) {
                flow.exec(
                    function () {
                        self.ProductServiceAdapter.Categories(this);
                    },
                    function (data) {
                        self.CategoryArray.removeAll();
                        self.CategoryArray.push({ value: null, text: "(Select a Category)" });

                        var addCategory = function (category, indent) {
                            self.CategoryArray.push({ value: category.Id, text: indent + category.Name });
                            $.each(category.Categories, function (index, elem) { addCategory(elem, indent + '....'); });
                        }
                        $.each(data, function (index, elem) { addCategory(elem, ''); });
                        if (callback) {
                            callback();
                        }
                    }
                );
            }

            self.RetrieveBrands = function (callback) {
                flow.exec(
                    function () {
                        self.ProductServiceAdapter.Brands(this);
                    },
                    function (data) {
                        self.BrandArray.removeAll();
                        self.BrandArray.push({ value: null, text: "(Select a Brands)" });

                        $.each(data, function (index, elem) {
                            self.BrandArray.push({ value: elem.Id, text: elem.Name });
                        });

                        if (callback) {
                            callback();
                        }
                    }
                );
            }

            self.DeleteColor = function (color) {
                self.ModalViewModel(color);
                $('#modal-delete').modal();
            }

            self.DeleteConfirm = function () {
                var record = self.ModalViewModel();
                flow.exec(
                    function () {
                        $('#modal-delete').modal('hide');
                        self.ServiceAdapter.Delete(record, this);
                    },
                    function (data) {
                        self.Data.remove(function (item) { return item.Id == record.Id; });
                        self.ModalViewModel(null);
                    });
            }

            self.SearchClick = function () {
                flow.exec(
                    function () {
                        var brandId = $("#SearchBrand").val();
                        var categoryId = $("#SearchCategory").val();
                        var searchText = $("#SearchText").val();
                        self.ProductServiceAdapter.Search(brandId, categoryId, searchText, this);
                    },
                    function (data) {
                        self.SearchData(data);
                    });
            }

            // Initialization
            self.ProductServiceAdapter = productServiceAdapter;
            self.CrossCuttingUI = crossCuttingUI;
            self.Glider = gliderWidget;

            // load ko.observables into view model
            self.CategoryArray = ko.observableArray();
            self.BrandArray = ko.observableArray();
            self.SearchData = ko.observableArray();
            self.SelectedProduct = ko.observable(null);
            self.ModalViewModel = ko.observable(null);

            // ko.computed's
            self.SelectedProductName = ko.computed(
                function () {
                    return self.SelectedProduct() && self.SelectedProduct().SkuCode() || "(New Product)"
                }, this);

            self.WorkspaceHeadingStyle = ko.computed(
                function () {
                    return self.SelectedProduct() ? "height:105px;" : "height:130px;";
                }, this);

            self.GlidingContainerStyle = ko.computed(
                function () {
                    return self.SelectedProduct() ? "top:165px;" : "top:190px;";
                }, this);

            // Start loading...
            var log = function (data) { console.log(data); }

            self.RetrieveCategories();
            self.RetrieveBrands();            
        }

        $(function () {
            var crosscuttingUI = new CrossCuttingUI("#gliding-container");
            var parentGliderWidget = new GliderWidget("#gliding-container", "#parent-editor", "#child-editor");
            var chilldGliderWidget = new GliderWidget("#gliding-container", "#child-editor", "#sub-child-editor");

            var serviceAdapter = new ProductService(crosscuttingUI.Error, crosscuttingUI.ShowLoading, crosscuttingUI.HideLoading);
            var model = new ProductViewModel(serviceAdapter, crosscuttingUI, parentGliderWidget);
            ko.applyBindings(model);
        });
	</script>
}	

@section _Templates {
	<!-- KNOCKOUT TEMPLATE - TOP WORKSPACE -->
	<script type="text/html" id="Top-Workspace">
		<!-- PARENT VIEW HEADER -->
		<div id="heading" class="container" data-bind="ifnot: $root.SelectedProduct()">
			<div class="row">
				<div class="span9">
					<h1>Products > All</h1>
				</div>
				<div class="span3" style="margin-top:15px; text-align:right;">
					<a class="btn btn-primary btn-block" data-bind="click: $root.AddProduct">Add New Product <i class="icon-arrow-right icon-white"></i></a>
				</div>
			</div>

            <div style="height:10px;"></div>
            
            <div class="row">
				<div class="span3">
                    <select id="SearchCategory" data-bind="foreach: $root.CategoryArray">
                        <option data-bind="value: $data.value, text: $data.text"  />
                    </select>
                </div>
				<div class="span3">
                    <select id="SearchBrand" data-bind="foreach: $root.BrandArray">
                        <option data-bind="value: $data.value, text: $data.text"  />
                    </select>
                </div>
                <div class="span3">
                    <input id="SearchText" type="text" class="input-large search-query" style="width:200px;" placeholder="Description, Name, Sku..." />
                </div>
				<div class="span3">
					<a class="btn btn-inverse btn-block" data-bind="click: $root.SearchClick">Search <i class="icon-search icon-white"></i></a>
                </div>
            </div>
		</div>
		
		<!-- CHILD VIEW HEADER -->
		<div id="heading" class="container" data-bind="if: $root.SelectedProduct()">
			<div class="row" style="position:relative;">				
				<div class="span12">
					<h1>Products &gt; <span data-bind="text: $root.SelectedProductName"></span></h1>
				</div>
			</div>
            <div class="row">
                <div class="span2">
				    <a id="glideToParent" class="btn btn-inverse btn-block btn-small" data-bind="click: $root.GlideToParentView"><i class="icon-backward icon-white"></i> Back</a>
                </div>
		    </div>
		</div>
	</script>
	
	<!-- KNOCKOUT TEMPLATE - PARENT EDITOR -->
	<script type="text/html" id="Parent-Editor">
		<div style="margin-top:30px; text-align:center;" class="alert alert-info" data-bind="visible: $data.SearchData().length == 0">
			<button type="button" class="close" data-dismiss="alert">x</button>
			<strong>There are no Products in your current search.  Click "Search" to run a search or click "Add New Product" to create a new one.</strong>  
		</div>
		
		<table id="parent-editor-table" class="table table-hover" data-bind="visible: $data.SearchData().length > 0">
		<tbody data-bind="foreach: $data.SearchData()">
			<tr>
			<td>
				<span class="span2">
                	<div data-bind="template: { name: 'Image-Bundle-Thumbnail-Viewer', data: { ExternalResourceId: $data.ImageBundleExternalId, LightboxSuffixId: 'Parent' } }">
			        </div>
                </span>
            </td>
            <td>
				<span class="span7">
					<input type="hidden" data-bind="attr: { id: 'tracker' + $data.Id }" />
					<p>
                        <h4 data-bind="text: $data.Name" style="margin-bottom:5px;"></h4>
                        <span data-bind="text: 'Sku: ' + $data.SkuCode"></span><br />
                        <span data-bind="text: 'Brand: ' + $data.BrandName"></span><br />
                        <span data-bind="text: 'Price: $' + $data.UnitPrice"></span>
                    </p>
				</span>
            </td>
			<td>
				<span class="span3" style="text-align:right;">					
					<a class="btn btn-primary" style="width:70px;" href="#" data-bind="click: function() { $root.DeleteColor($data) }"><i class="icon-trash icon-white"></i> Delete</a>
					<a class="btn btn-inverse" style="width:70px;" data-bind="click: $root.GlideToChildView">Edit <i class="icon-arrow-right icon-white"></i></a>
				</span>
			</td>
			</tr>
		</tbody>
		</table>
	</script>
	
	<!-- KNOCKOUT TEMPLATE - CHILD EDITOR -->
	<script type="text/html" id="Child-Editor">
        <div style="margin-top:20px">
        <form>
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#">Information</a>
                </li>
                <li>
                    <a href="#" data-bind="click: $root.PickColorToggle">Sizes &amp; Colors</a>
                </li>
                <li>
                    <a href="#" data-bind="click: $root.PickColorToggle">Images</a>
                </li>
            </ul>

			<div id="validation" style="text-align:center; clear:both; display:none;" class="alert alert-error">
                <strong>Please enter all the required fields.</strong>
			</div>

            <div class="row">
                <div class="span6">
                    <div class="row">
                        <div class="span6">
                            <label>Product Name<br /><input class="input-large" style="width:440px;" type="text" placeholder="Enter Brand Name" data-bind="value: $data.EditName" maxlength="50" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3">
                            <label>SKU Code<br /><input class="input-large" style="width:200px;" type="text" placeholder="Enter Sku Code" data-bind="value: $data.EditSkuCode" maxlength="10" />
				            </label>
                        </div>
                        <div class="span3">
                            <label>SEO<br /><input class="input-large" style="width:200px;" type="text" placeholder="Enter SEO Tag" data-bind="value: $data.EditSEO" maxlength="50" />
				            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span6">
                            <label>Synopsis (short desc.)<br/>
                                <textarea id="entry" type="text" class="input-large" style="width:440px;" rows="2" 
                                    placeholder="Enter Synopsis" data-bind="value: $data.EditSynopsis" maxlength="200" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span6">
                            <label>Description<br/>
                                <textarea id="entry" type="text" class="input-large" style="width:440px;" rows="6" 
                                    placeholder="Enter Description" data-bind="value: $data.EditDescription" maxlength="500" />
                            </label>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <div class="row">
				        <div class="span3">
                            <label>Brand<br />
                            <select id="SearchBrand" data-bind="foreach: $root.BrandArray">
                                <option data-bind="value: $data.value, text: $data.text"  />
                            </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3">
                            <label>Category<br />
                            <select id="SearchCategory" data-bind="foreach: $root.CategoryArray">
                                <option data-bind="value: $data.value, text: $data.text"  />
                            </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3">
                            <label>Unit Price<br /><input class="input-large" style="width:200px;" type="text" placeholder="Enter Unit Price" data-bind="value: $data.EditUnitPrice" maxlength="12" />
				            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3">
                            <label>Unit Cost<br /><input class="input-large" style="width:200px;" type="text" placeholder="Enter Unit Cost" data-bind="value: $data.EditUnitCost" maxlength="12" />
				            </label>
                        </div>
                    </div>
                </div>

                <div class="span3" style="text-align:right;">
					<a class="btn btn-inverse" href="#" data-bind="click: $root.GlideToParentView"><i class="icon-remove icon-white"></i> Cancel</a>                    
					<a class="btn btn-primary" href="#" data-bind="click: $root.SaveBrand"><i class="icon-ok icon-white"></i> Save</a>
                </div>
            </div>            
        </form>
        </div>
	</script>
	
	<!-- KNOCKOUT TEMPLATE - MODAL DIALOG -->
	<script type="text/html" id="Modal-Dialog">
		<div id="modal-delete" class="modal hide fade" data-bind="if: $root.ModalViewModel()">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Delete <span data-bind="text: $root.ModalViewModel().Name"></span></h3>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to Delete this Color?</p>			
				<p>All Products that use it will not have a Color</p>			
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-inverse" data-dismiss="modal"><i class="icon-remove icon-white"></i> Cancel</a>
				<a href="#" id="modal-action" class="btn btn-primary" data-bind="click: $root.DeleteConfirm"><i class="icon-ok icon-white"></i> Ok</a>
			</div>
		</div>
	</script>
}

@section _Body {	
    <div class="workspace-heading-parent">
        <!-- This is a 35px increase for the Search Page -->
		<div class="workspace-heading" data-bind="template: { name: 'Top-Workspace', data: $root }, attr: { style: $root.WorkspaceHeadingStyle }"></div>
	</div>
	
	<div id="gliding-container" class="container" data-bind="attr: { style: $root.GlidingContainerStyle }">
		<div id="parent-editor">
			<div style="margin-bottom:200px;" data-bind="template: { name: 'Parent-Editor', data: $root }">
			</div>
		</div>
		
		<div id="child-editor" data-bind="if: $root.SelectedProduct()">
			<div style="margin-bottom:200px;" data-bind="template: { name: 'Child-Editor', data: $root.SelectedProduct() }">
			</div>
		</div>
    </div>

    <div id="modal-enclave" data-bind="template: { name: 'Modal-Dialog' }"></div>    
}