<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="stripeConfiguration" type="System.Configuration.SingleTagSectionHandler"  xdt:Transform="Insert" />
    <section name="emailConfiguration" type="System.Configuration.SingleTagSectionHandler"  xdt:Transform="Insert" />
  </configSections>
  

  <stripeConfiguration
      SecretKey="sk_test_dXprm3JDq3jO6mgd9wZczhoQ"
      PublishableKey="pk_test_9RUVhRhHKgJwABqlIpKE4hLB"
      StripeUrl="http://stripe.com/v2/testUrl"
      ServerSideMockEnabled="true"
      ClientSideMockEnabled="true" />

  <emailConfiguration
      SmtpHost="smtp.gmail.com"
      SmtpPort="587"
      SmtpUserName="artofgroundfighting@gmail.com"
      SmtpPassword="qVk8juBpNsFpd3MY9Ovu"
      CustomerServiceEmail="artofgroundfighting@gmail.com"
      SystemEmail="artofgroundfighting@gmail.com"
      TemplateDirectory="C:\DEV\Pleiades\Commerce.ArtOfGroundFighting\EmailTemplates"
      ServerSideMockEnabled="true"
      MockServiceOutputDirectory="C:\Dev\Pleiades\MailDump\" />

</configuration>