<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"></section>
    
    <section name="stripeConfiguration" type="System.Configuration.SingleTagSectionHandler" />
    <section name="emailConfiguration" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="ResourceStorage" value="C:\DEV\Pushmarket Resource Storage" />
    <add key="BlankThumbnailImageUrl" value="~/Content/Commerce.Web/Images/75x75.gif" />
    <add key="BlankSmallImageUrl" value="~/Content/Commerce.Web/Images/200x200.gif" />
    <add key="BlankLargeImageUrl" value="~/Content/Commerce.Web/Images/800x600.gif" />

    <!-- TODO: create a Large Thumbnail image -->
    <add key="MaxLargeWidth" value="800" />
    <add key="MaxLargeHeight" value="600" />
    <add key="MaxSmallHeight" value="200" />
    <add key="MaxSmallHeight" value="200" />
    <add key="MaxThumbnailWidth" value="75" />
    <add key="MaxThumbnailHeight" value="75" />

    <add key="MaxInvalidPasswordAttempts" value="5" />
    <add key="PasswordAttemptWindowSeconds" value="900" />
    <add key="MinRequiredPasswordLength" value="6" />
    <add key="MinRequiredNonAlphanumericCharacters" value="0" />
    <add key="PasswordStrengthRegularExpression" value="" />
    <add key="Base64EncodedHashKey" value="FAE8EA5759A0B166962D71B5C7DAA431662C8B4DE50E28D1FB7791BF2A46C7BE98323AF7BA4A790312CFB4C2C0AF7489E5D738C8B068C1C496C783DA6A20DA5A" />
    <add key="EnablePasswordReset" value="true" />
    <add key="RequiresQuestionAndAnswer" value="false" />
    <add key="UserIsOnlineTimeWindowMinutes" value="3" />

    <add key="BundleOptimizationDebug" value="false" />
    <add key="EnableRouteDebug" value="false" />
    <add key="AdminOrderDebug" value="true" />
    
    <!-- TODO: can we get rid of this, and use the Custom Errors section...? -->
    <add key="AdminErrorRedirect" value="~/System/ServerError" />

    <add key="ApplicationName" value="Pushmarket E-Commerce Automation" />
    <add key="Version" value="version 1.2.0" />
    <add key="CompanyName" value="Push Software Consulting, LLC" />
    <add key="StorefrontUrl" value="http://localhost/ArtOfGroundFighting.com" />
  </appSettings>

  <!-- <stripeConfiguration
      SecretKey="sk_test_dXprm3JDq3jO6mgd9wZczhoQ"
      PublishableKey="pk_test_9RUVhRhHKgJwABqlIpKE4hLB"
      StripeUrl="http://stripe.com/v2/testUrl" />
      -->

  <stripeConfiguration 
      SecretKey="sk_test_dXprm3JDq3jO6mgd9wZczhoQ" 
      PublishableKey="pk_test_9RUVhRhHKgJwABqlIpKE4hLB" 
      StripeUrl="http://stripe.com/v2/testUrl" 
      ServerSideMockEnabled="true" 
      ClientSideMockEnabled="true" />

  <emailConfiguration 
      SmtpHost="smtp.gmail.com" 
      SmtpPort="587" 
      SmtpUserName="artofgroundfighting@gmail.com" 
      SmtpPassword="qVk8juBpNsFpd3MY9Ovu" 
      CustomerServiceEmail="artofgroundfighting@gmail.com" 
      SystemEmail="artofgroundfighting@gmail.com" 
      TemplateDirectory="C:\DEV\Pleiades\Commerce.ArtOfGroundFighting\EmailTemplates" 
      ServerSideMockEnabled="true" 
      MockServiceOutputDirectory="C:\Dev\Pleiades\MailDump\" />

  <connectionStrings>
      <add name="PleiadesDb" connectionString="Data Source=Localhost;Initial Catalog=Pushmarket;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <httpRuntime relaxedUrlToFileSystemMapping="true" />

    <!-- These must be managed by the Pushmarket Admin -->
    <customErrors mode="On" defaultRedirect="~/System/ServerError">
        <error statusCode="404" redirect="~/System/NotFound" />
    </customErrors>

    <!-- These must be managed by the Pushmarket Admin -->
    <authentication mode="Forms">
      <forms loginUrl="~/System/ServerError" timeout="2880" />
    </authentication>

    <!-- For SHA1, set the validationKey to 64 bytes (128 hexadecimal characters).  For AES, set the decryptionKey to 32 bytes (64 hexadecimal characters). -->
    <machineKey decryption="AES" decryptionKey="AF9531C15F404D0CAF8DFA5B4F8A18F264BD4D934E5B78356AC3C834E2906055" validation="SHA1" validationKey="FAE8EA5759A0B166962D71B5C7DAA431662C8B4DE50E28D1FB7791BF2A46C7BE98323AF7BA4A790312CFB4C2C0AF7489E5D738C8B068C1C496C783DA6A20DA5A" />
    
    <compilation debug="true" />
  </system.web>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="Commerce.Web" xsi:type="SplitGroup">
        <target xsi:type="File" filename="c:\Dev\Pleiades\Logs\ArtOfGroundFighting.com.${shortdate}.txt" layout="${longdate}|${level}|${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}" archiveAboveSize="50000000">
        </target>
        <target xsi:type="Console" layout="${longdate}|${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}"></target>
        <target xsi:type="Debugger" layout="${longdate}|${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}"></target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeto="Commerce.Web"></logger>
    </rules>
  </nlog>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <!-- Need this to allow bullshit URL's to get caught by MVC and not IIS -->
    <modules runAllManagedModulesForAllRequests="true" />

    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions timeTaken="00:00:00" statusCodes="200-999" />
        </add>
      </traceFailedRequests>
    </tracing>
    <staticContent>
      <!--<mimeMap fileExtension=".woff" mimeType="application/x-woff" />-->
    </staticContent>
  </system.webServer>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Web.Optimization" />
        <add namespace="Pleiades.App.Utility" />
        <add namespace="Pleiades.Web.Security.Model" />
        <add namespace="Pleiades.Web.Security.Utility" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <codeBase version="1.0.0.0" href="bin\Razor-1.0.0.0\System.Web.Razor.dll" />
        <codeBase version="2.0.0.0" href="bin\System.Web.Razor.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
