div.qf-editor input[type=text]
{
    font-size: 18px;
    color: #222;
    width: 390px;
}

div.qf-editor input[type=text].input-validation-error
{
    background-color: #FFCCCC;
}


div.qf-editor span.field-validation-error
{
    color: #FF0000;
}

div.qf-editor .qf-radiodiv
{
}

div.qf-editor .qf-radiolabel
{
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
}

div.qf-clr
{
    clear: both;
}

