<script type="text/javascript">
    var PushMkt = PushMkt || {};

    PushMkt.AddFindOrderView = function ($root) {
        var self = {};
        self.Root = $root;
        self.Root.FindOrderView = self;

        self.TopWorkspaceTemplate = "Top-Workspace-FindOrders";
        self.MainEditorTemplate = "Main-Editor-FindOrders";

        self.SelectedStatus = ko.observable();
        self.StartDate = ko.observable();
        self.EndDate = ko.observable();

        self.OrderStatusList = [
            { text: "(All Orders)", value: "" },
            { text: "Incomplete", value: "1" },
            { text: "Complete", value: "2" }
        ];

        self.SearchData = ko.observableArray();

        self.ViewOrder = function () {
            self.GlideRight("ReviewProducts");
        };

        self.InitializeControls = function () {
            $("#data-picker-start").datepicker();
            $("#data-picker-end").datepicker();
            if (self.StartDate() && self.EndDate()) return;

            var nowTemp = new Date();
            var now = (nowTemp.getMonth() + 1) + "/" + nowTemp.getDate() + "/" + nowTemp.getFullYear();

            var twoWeeksAgoTemp = new Date();
            twoWeeksAgoTemp.setDate(nowTemp.getDate() - 14);
            var twoWeeksAgo = (twoWeeksAgoTemp.getMonth() + 1) + "/" + twoWeeksAgoTemp.getDate() + "/" + twoWeeksAgoTemp.getFullYear();

            self.StartDate(twoWeeksAgo);
            self.EndDate(now);
        };

        self.SearchClick = function () {
            flow.exec(
                function () {
                    self.StartDate($("#data-picker-start").val());
                    self.EndDate($("#data-picker-end").val());
                    
                    var url = "/Admin/ManageOrder/Search" +
                        "?orderStatus=" + self.SelectedStatus() +
                        "&startDate=" + self.StartDate() +
                        "&endDate=" + self.EndDate();
                    
                    self.Root.Service.AjaxGet(url, this);
                },
                function (data) {
                    self.SearchData(data);
                }
            );
        };
    };
</script>

<!-- How to add FindOrderViewModel...? -->
<script type="text/html" id="Search-Controls-FindOrders">
    <div class="row">
        <div class="span3">
            <select id="OrderStatus" 
                data-bind="options: $data.OrderStatusList, optionsText: 'text', optionsValue: 'value', value: SelectedStatus">
            </select>
        </div>

        <div class="span3">
            <div style="float:left; padding-top:3px;">From Date: &nbsp;</div>
            <input type="text" class="span2" value="02-16-2012" id="data-picker-start" onkeypress="return false;"
                    data-bind="value: $data.StartDate">
        </div>

        <div class="span3">
            <div style="float:left; padding-top:3px;">To Date: &nbsp;</div>
            <input type="text" class="span2" value="02-16-2012" id="data-picker-end" onkeypress="return false;"
                    data-bind="value: $data.EndDate">
        </div>

        <div class="span3">
            <a class="btn btn-inverse btn-block" data-bind="click: function() { $data.SearchClick(); }">
                Search <i class="icon-search icon-white"></i>
            </a>
        </div>
    </div>
</script>
 
<script type="text/html" id="Top-Workspace-FindOrders">
    <div class="workspace-heading" style="height:125px;" data-bind="{ with: $root.FindOrderView }">
        <div id="heading" class="container">
            <div class="row">
                <div class="span7">
                    <h1>Manage Orders &gt; Find</h1>
                </div>
                <div class="span5" style="margin-top:20px; text-align:right;">                   
                </div>
            </div>

            <div style="height:20px;"></div>

            <div data-bind="template: { name: 'Search-Controls-FindOrders', afterRender: $root.FindOrderView.InitializeControls }"></div>
        </div>
    </div>
</script>

<script type="text/html" id="Main-Editor-FindOrders">
    <div style="margin-top:0px; margin-bottom:200px;" data-bind="{ with: $root.FindOrderView }">>
        <div style="margin-top:20px; text-align:center;" class="alert alert-info" data-bind="visible: SearchData().length == 0">
            <strong>There are no Orders in your current search.  Click "Search" to run a search.</strong>  
        </div>
		
        <table id="parent-editor-table" class="table" data-bind="visible: SearchData().length > 0">
            <tbody data-bind="foreach:SearchData()">
                <tr>
                    <td style="vertical-align:top; padding-top:20px; padding-bottom:20px; width:300px;">				
                        <h4 style="font-weight: bold; margin-top:0; margin-bottom:0px;" data-bind="text: 'Order Number: ' + ExternalId"></h4>
                        <div data-bind="if: Complete"><i class="icon-ok"></i> Order Complete</div>
                        <div data-bind="ifnot: Complete"><i class="icon-fire"></i> Order Incomplete</div>
                    </td>

                    <td style="vertical-align:top; padding-top:20px; padding-bottom:20px; text-align:left;">
                        <span>Customer Name:</span> <span style="font-weight: bold;" data-bind="text: Name"></span><br/>
                        <span>Email:</span> <span style="font-weight: bold;" data-bind="text: EmailAddress"></span>
                    </td>
                    
                    <td style="vertical-align:top; padding-top:20px; padding-bottom:20px; text-align:right;">
                        <span>Created:</span><br/>
                        <span>Total:</span> 
                    </td>
                    
                    <td style="vertical-align:top; padding-top:20px; padding-bottom:20px;">
                        <span style="font-weight: bold;" data-bind="text: ToShortDate(DateCreated)"></span><br/>
                        <span style="font-weight: bold;" data-bind="text: ToMoney(OriginalGrandTotal)"></span>
                    </td>

                    <td style="vertical-align:top; padding-top:20px; padding-bottom:20px;">
                    </td>

                    <td style="vertical-align:top; padding-top:20px; padding-bottom:20px; text-align:right;">
                        <a class="btn btn-primary btn-block" style="width:90px;" 
                                data-bind="click: function() { $root.EditOrderClick($data); }">
                            Edit <i class="icon-pencil icon-white"></i>
                        </a>
                    </td>
			    </tr>
		    </tbody>
		</table>
    </div>
</script>