body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.table td {
	vertical-align:middle;
}

h4 {
	color: #666;
}

.editorRow:hover {
	background-color: #c4e3f3;
}

.workspace-heading { 
	position:fixed; 
	margin-top:60px; 
	top:0px; 
	width:100%; 
	height:75px; 
	background-color:#FFF; 
	border-bottom:1px dotted #CCC;
}