@using Commerce.Web.Areas.Public
    <div class="navbar navbar-fixed-bottom">
        <div class="bottom-navbar-style" style="background-color: #333; color: #FFF;">
            <div class="container">
                <footer>
                    <p>
                        The Art of Ground Fighting | "Made and Worn by Fighters for Fighters" | Need help?  Contact our 
                        <a style="color:#08C;" href="@Url.RouteUrl(PublicNavigation.Contact())">Customer Service</a>.
                    </p>
                </footer>
            </div>
        </div>
    </div>
