@using Commerce.Web.Areas.Public
<footer class="navbar navbar-fixed-bottom" style="background-color:#333; color:#FFF; padding-top:15px;">
    <div class="container">
        The Art of Ground Fighting | "Made and Worn by Fighters for Fighters" | Need help? Got questions? Contact our 
        <a style="color:#5CF;" href="@Url.RouteUrl(PublicNavigation.Contact())">Customer Service</a> at 1-800-CHOKE-4U
    </div>    
</footer>

