    <div id="top-menu-bar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <img src="@Url.Content("~/Content/Commerce.Web/Images/webicon-2.png")" style="float: left;" />
                <a class="brand" href="@Url.RouteUrl(PublicNavigation.Home())" style="color: #FFF;">The Art of Ground Fighting.com</a>
                <div class="nav-collapse">           
                </div>
            </div>
        </div>
    </div>
