
<div id="arena-top-spacer" style="height:50px; padding-top:20px;">
    Checkout &gt;&gt; <span>Shopping Cart</span>
</div>

<div class="row">
    <div class="col-lg-8" ng-show="NonEmptyCart()">
        <h1 class="main-header">Shopping Cart</h1>
        <h1 class="sub-sub-header">
            Current Total: {{ ToMoney(cart.Total.SubTotal) }}
        </h1>
        <div style="height:10px;" class="hidden-lg"></div>
    </div>

    <div class="col-lg-8" ng-show="!NonEmptyCart()">
        <h1 class="main-header">Your Cart is Empty</h1>        
    </div>
    
    <div class="col-lg-4" style="text-align:right;">
        <div ng-show="NonEmptyCart()">
            <a href="#/checkout" class="btn btn-default btn-lg cart-big-action">
                Billing &amp; Shipping <i class="glyphicon glyphicon-forward"></i>  
            </a>
        </div>        
        <div ng-show="!NonEmptyCart()">
            <a href="#/products" class="btn btn-default btn-lg cart-big-action">
                Go Back to Storefront <i class="glyphicon glyphicon-forward"></i>  
            </a> 
        </div>
    </div>
</div>

<div class="col-lg-12" style="height:40px;"></div>

<div class="row" ng-repeat="item in cart.CartItems | orderBy:name">    
    <div class="col-lg-8" style="height:75px;">
        
        <a data-toggle="lightbox" href="#lightbox-{{ item.Id }}">
            <img ng-src="{{ ImageUrlGenator(item.Sku.ImageBundle.ExternalId, 'thumbnail') }}" style="border: #CCC dotted 1px; float:left; margin-right:20px;" />            
        </a>

        <span class="bold-print-black">{{ item.Sku.Name }}</span><br />
        <span class="product-list-synopsis">{{ item.Sku.SkuCode }}</span><br />
        <span class="product-list-synopsis">{{ ToMoney(item.Sku.Product.UnitPrice) }}</span><br />

        <div id="lightbox-{{ item.Id }}" class="lightbox fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="lightbox-dialog">
                <div class="lightbox-content">                    
                    <img ng-src="{{ ImageUrlGenator(item.Sku.ImageBundle.ExternalId, 'large') }}" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4" style="margin-bottom:60px;">
        <span class="product-detail-header" style="margin-top:10px; float:left;">Quantity</span>
        
        <select class="form-control quantity-list" ng-change="ChangeQuantity(item)" style="float:left;"
                ng-model="item.Quantity" ng-options="quantity for quantity in item.QuantityList">
        </select>
        
        <button class="btn btn-default" ng-click="DeleteItem(item.Sku.SkuCode)"
                style="width:100px; margin-left:20px; margin-top:3px; font-weight:bold; color:#555; float:left;">
            <i class="glyphicon glyphicon-trash"></i>&nbsp;Delete
        </button>
    </div>

    <div style="height:30px;" class="col-lg-12 hidden-lg"></div>
</div>
