<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"></section>
  </configSections>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="Commerce.Initializer" xsi:type="SplitGroup">
        <target xsi:type="File" filename="c:\Dev\Pleiades\Logs\${logger}.${shortdate}.txt"
                layout="${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}"
                archiveAboveSize="50000000">
        </target>
        <target xsi:type="Console" layout="${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}"></target>
        <target xsi:type="Debugger"  layout="${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}"></target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeto="Commerce.Initializer"></logger>
    </rules>
  </nlog>
  
  <appSettings>
    <add key="ResourceStorage" value="C:\DEV\PushMarket Resource Storage" />
    <add key="MaxLargeWidth" value="600" />
    <add key="MaxLargeHeight" value="800" />
    <add key="MaxSmallHeight" value="200" />
    <add key="MaxSmallWidth" value="200" />
    <add key="MaxThumbnailWidth" value="75" />
    <add key="MaxThumbnailHeight" value="75" />

    <add key="MaxInvalidPasswordAttempts" value="5" />
    <add key="PasswordAttemptWindowSeconds" value="900" />
    <add key="MinRequiredPasswordLength" value="6" />
    <add key="MinRequiredNonAlphanumericCharacters" value="0" />
    <add key="PasswordStrengthRegularExpression" value="" />
    <add key="Base64EncodedHashKey" value="FAE8EA5759A0B166962D71B5C7DAA431662C8B4DE50E28D1FB7791BF2A46C7BE98323AF7BA4A790312CFB4C2C0AF7489E5D738C8B068C1C496C783DA6A20DA5A" />
    <add key="EnablePasswordReset" value="true" />
    <add key="RequiresQuestionAndAnswer" value="false" />
    <add key="UserIsOnlineTimeWindowMinutes" value="3" />

    <add key="ApplicationName" value="PushMarket Initializer version 1.2.0"/>
    <add key="CompanyName" value="Push Software Consulting, LLC"/>
  </appSettings>

  <connectionStrings>
    <add name="PleiadesDb" connectionString="Data Source=PLEIADES;Initial Catalog=PushMarket;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/Account/LogOn" timeout="2880" />
    </authentication>
    
    <!-- For SHA1, set the validationKey to 64 bytes (128 hexadecimal characters).
      For AES, set the decryptionKey to 32 bytes (64 hexadecimal characters).
      For 3DES, set the decryptionKey to 24 bytes (48 hexadecimal characters). -->
    <machineKey decryption="AES" decryptionKey="AF9531C15F404D0CAF8DFA5B4F8A18F264BD4D934E5B78356AC3C834E2906055"
                validation="SHA1"
                validationKey="FAE8EA5759A0B166962D71B5C7DAA431662C8B4DE50E28D1FB7791BF2A46C7BE98323AF7BA4A790312CFB4C2C0AF7489E5D738C8B068C1C496C783DA6A20DA5A" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>