div.ldd_menu
{
	display:block;
	margin: 0px;
	padding: 0px;
	height:50px;
	background-color:#2a88d9;
	list-style:none;
	border-top:1px solid #95d4fd;
	border-bottom:1px solid #95d4fd;
	
	/**border-left:10px solid #2a88d9;**/
	
	-moz-box-shadow:0px 3px 4px #1E1259;
	-webkit-box-shadow:0px 3px 4px #1E1259;
	-box-shadow:0px 3px 4px #1E1259;
}

ul.ldd_menu
{
	width: 1000px;
	display: block;
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	font-family:"Trebuchet MS", sans-serif;
}

ul.ldd_menu a
{
	text-decoration:none;
}

ul.ldd_menu > li
{
	float:left;
	position:relative;
}

ul.ldd_menu > li > a
{
	float: left;
	color: #fff;
	background-color: #2a88d9;
	height: 50px;
	line-height: 50px;
	cursor: default;
	padding: 0px 20px;
	text-shadow: 0px 0px 1px #fff;
	border-right: 1px solid #55a4bd;
	border-left: 1px solid #2a88d9;
}

ul.ldd_menu > li > a.current
{
	background-color: #0a68b9;
}

ul.ldd_menu > li > a:hover
{
	background-color: #0a68b9;
}

ul.ldd_menu .ldd_submenu{
	position: absolute;
	top: 50px;
	width:300px;
	display: none;
	/* opacity: 0.95;*/
	left: 0px;
	font-size: 10px;
	background: #2a88d9;
	z-index:90;
	border-top: 1px solid #95d4fd;
	-moz-box-shadow: 0px 1px 2px #1E1259 inset;
	-webkit-box-shadow: 0px 1px 2px #1E1259 inset;
	-box-shadow: 0px 1px 2px #1E1259 inset;
}

a.ldd_subfoot{
	background-color: #f0f0f0;
	color: #444;
	display: block;
	clear: both;
	padding: 15px 20px;
	text-transform: uppercase;
	font-family: Arial, serif;
	font-size: 12px;
	text-shadow: 0px 0px 1px #fff;
	-moz-box-shadow: 0px 0px 2px #777 inset;
	-webkit-box-shadow: 0px 0px 2px #777 inset;
	-box-shadow: 0px 0px 2px #777 inset;
}

ul.ldd_menu ul{
	list-style: none;
	float: left;
	border-left: 1px dotted #FFF;
	margin: 20px 0px 10px 30px;
	padding: 10px;
}

li.ldd_heading{
	font-family: Georgia, serif;
	font-size: 13px;
	font-style: italic;
	color:#FFB39F;
	text-shadow:0px 0px 1px #B03E23;
	padding:0px 0px 10px 0px;
}

ul.ldd_menu ul li a{
	font-size:16px;
	font-weight: bold;
	line-height:30px;
	color:#FFF;
	padding:1px 3px;
}

ul.ldd_menu ul li a:hover{
	-moz-box-shadow:0px 0px 2px #333;
	-webkit-box-shadow:0px 0px 2px #333;
	box-shadow:0px 0px 2px #333;
	background:#0a68b9;
}
