body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

*{
    padding:0;
    margin:0;
}

div.clr
{
   clear:both; 
}

header,
footer,
nav,
section {
    display: block;
}


fieldset > legend
{
    font-weight: normal;
}


/* Main Banner
-----------------------------------------------------------*/
h1.header 
{
    color:#FFF; 
    font-size:40px; 
    text-shadow: 2px 2px 2px #000;
}

h1.error
{
    color:#C00;
}



/* Dotted-line
-----------------------------------------------------------*/

div.dottedline
{
    border-top:1px dotted #999; 
    height:20px; width:984px;
}



/* Styles for basic forms
-----------------------------------------------------------*/
fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

/** Standard DotNet stuff... not bad, but not used ***/
.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}



/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}



/** Grid Styling - used by the Admin Grid
-------------------------------------------- **/
table.datagrid thead td
{
    font-weight: bold;
}
table.datagrid tr
{
    height: 60px;
}
table.datagrid td
{
    border-bottom: 1px solid #999;
    padding: 0px;
    margin: 0px;    
}


table.recordgrid tr
{
    padding: 0px;
    margin: 0px;
    height: 40px;
}
table.recordgrid td
{
    font-size:16px; 
    color:#666;
    vertical-align: top;
}

table.recordgrid td.data-left
{
    font-weight: bold;
    text-align: left;
}
table.recordgrid td.data-right
{
    font-weight: bold;
    text-align: right;
}

table.recordgrid td.label-left
{
    text-align: left;
}
table.recordgrid td.label-right
{
    text-align: right;
    padding-right:30px;
}



/** Pleiades Editors - LIGHT
-----------------------------------------------------------*/
.stdtextbox
{
    font-size: 18px;
    color: #222;
    width: 390px;
}

.stdradiodiv
{
}

.stdradiolabel
{
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
}


/** Pleiades Editors - DARK
-----------------------------------------------------------*/
.login-editor 
{
    font-size:30px;
    background-color: #FFF !important;
}

