
/*** Pleiades AJAX style-sheet ***/


/** Standard Grid Background
-----------------------------------------------------------*/
.gridLoading
{
    background: url(../Images/ajax-loader.gif) no-repeat center;
    color: #AAA; 
    text-align: center;
}

.gridError
{
    color: #844;
    text-align: center;
}



/** Pleiades Paging Link (AJAX)
-----------------------------------------------------------*/
.pagelink
{
}


/** Pleiades AJAX Editors
-----------------------------------------------------------*/
.inlinegridtextbox
{
    font-size: 12px;
    color: #222;
    padding: 0px;
    margin: 0px;
    height: 20px;
}

.inlinegridselectlist
{
    height: 20px;
    font-size: 12px;
    color: #222;
}


/** Pleiades Overlay
-----------------------------------------------------------*/

#overlay
{
    background-color: black;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: none;
    text-align: center;
}

