<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="azureConfiguration" type="System.Configuration.SingleTagSectionHandler"  xdt:Transform="Insert" />
  </configSections>
  
  <appSettings>
    <add key="AzureHosted" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AdminUrl" value="http://admin.artofgroundfighting.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StorefrontUrl" value="http://store.artofgroundfighting.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StorefrontName" value="ArtOfGroundFighting" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  
  <azureConfiguration xdt:Transform="Insert"
      StorageConnectionString="DefaultEndpointsProtocol=http;AccountName=pushmarket;AccountKey=SWXTWfBSkXJE2Fd9kIXq9sTGzDyAjKvAyKRmGIu9+y5sipQCLvXuiZixPNQwgXXTVlgOhO8dMBDnd+9xC2u7Pg=="
      ResourcesStorageContainer="artofgroundfighting"
      LogLevel="Info" />
  
  <connectionStrings xdt:Transform="Replace">
    <add name="PleiadesDb" providerName="System.Data.SqlClient"
         connectionString="Server=tcp:d2fxf1lhwq.database.windows.net; Database=aogf; User ID=aogfdb; Password=Pbdfdffjk!@#!@#; Trusted_Connection=False; Encrypt=True;" />
  </connectionStrings>
  
  <stripeConfiguration xdt:Transform="Replace"
      SecretKey="sk_test_dXprm3JDq3jO6mgd9wZczhoQ"
      PublishableKey="pk_test_9RUVhRhHKgJwABqlIpKE4hLB"
      StripeUrl="http://stripe.com/v2/testUrl"
      ServerSideMockEnabled="true"
      ClientSideMockEnabled="true" />
  
  <emailConfiguration xdt:Transform="Replace"
      SmtpHost="smtp.gmail.com"
      SmtpPort="587"
      SmtpUserName="artofgroundfighting@gmail.com"
      SmtpPassword="7u??^3LekkNq1StZWTOu"
      CustomerServiceEmail="artofgroundfighting@gmail.com"
      SystemEmail="artofgroundfighting@gmail.com"
      TemplateDirectory=".\EmailTemplates\"
      ServerSideMockEnabled="false"
      MockServiceOutputDirectory="C:\Dev\Pushmarket\MailDump\" />
</configuration>
