<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="stripeConfiguration" type="System.Configuration.SingleTagSectionHandler" />
    <section name="emailConfiguration" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  
  <appSettings>
    <add key="ResourceStorage" value="C:\DEV\Pushmarket Resource Storage" />
    
    <add key="MaxLargeWidth" value="600" />
    <add key="MaxLargeHeight" value="800" />
    <add key="MaxSmallHeight" value="200" />
    <add key="MaxSmallWidth" value="200" />
    <add key="MaxThumbnailWidth" value="75" />
    <add key="MaxThumbnailHeight" value="75" />
    
    <add key="MaxInvalidPasswordAttempts" value="5" />
    <add key="PasswordAttemptWindowSeconds" value="900" />
    <add key="MinRequiredPasswordLength" value="6" />
    <add key="MinRequiredNonAlphanumericCharacters" value="0" />
    <add key="PasswordStrengthRegularExpression" value="" />
    <add key="Base64EncodedHashKey" value="FAE8EA5759A0B166962D71B5C7DAA431662C8B4DE50E28D1FB7791BF2A46C7BE98323AF7BA4A790312CFB4C2C0AF7489E5D738C8B068C1C496C783DA6A20DA5A" />
    <add key="EnablePasswordReset" value="true" />
    <add key="RequiresQuestionAndAnswer" value="false" />
    <add key="UserIsOnlineTimeWindowMinutes" value="3" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="ApplicationName" value="Pushmarket E-Commerce Automation" />
    <add key="Version" value="version 1.2.0" />
    <add key="CompanyName" value="Push Software Consulting, LLC" />

    <add key="AzureHosted" value="false" />
    <add key="StorefrontUrl" value="http://localhost/ArtOfGroundFighting.com" />
  </appSettings>
  
  <connectionStrings>
    <add name="PleiadesDb" providerName="System.Data.SqlClient"
         connectionString="Data Source=Localhost;Initial Catalog=AogfDev; Integrated Security=SSPI;" />
  </connectionStrings>

  <stripeConfiguration
      SecretKey="sk_test_dXprm3JDq3jO6mgd9wZczhoQ"
      PublishableKey="pk_test_9RUVhRhHKgJwABqlIpKE4hLB"
      StripeUrl="http://stripe.com/v2/testUrl"
      ServerSideMockEnabled="true"
      ClientSideMockEnabled="true" />

  <emailConfiguration
      SmtpHost="smtp.gmail.com"
      SmtpPort="587"
      SmtpUserName="artofgroundfightingsandbox@gmail.com"
      SmtpPassword="qVk8juBpNsFpd3MY9Ovu"
      CustomerServiceEmail="artofgroundfightingsandbox@gmail.com"
      SystemEmail="artofgroundfightingsandbox@gmail.com"
      TemplateDirectory="C:\DEV\Pleiades\Commerce.ArtOfGroundFighting\EmailTemplates"
      ServerSideMockEnabled="true"
      MockServiceOutputDirectory="C:\Dev\Pleiades\MailDump\" />
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="ArtOfGroundFighting.Initializer" xsi:type="SplitGroup">
        <target xsi:type="File" filename="c:\Dev\Pleiades\Logs\${logger}.${shortdate}.txt" layout="${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}" archiveAboveSize="50000000">
        </target>
        <target xsi:type="Console" layout="${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}">
        </target>
        <target xsi:type="Debugger" layout="${message} ${onexception:|${exception:format=tostring} | ${stacktrace}}">
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeto="ArtOfGroundFighting.Initializer">
      </logger>
    </rules>
  </nlog>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>