<footer class="navbar navbar-fixed-bottom" style="background-color:#333; color:#FFF; padding-top:15px; padding-bottom:15px;">
    <div class="container">
    <div class="navbar-header" style="float:left; padding-left:10px;">
        The Art of Ground Fighting.com: "Designed by fighters, worn by fighters".  Got a Question?  
        <a class="gold-link" href="#/contact">Contact Us <i class="glyphicon glyphicon-phone-alt"></i></a>
        or call us at 1-800-CHOKE-4U.
    </div>
    </div>
</footer>

