<!-- Billing Functions -->
@Html.Javascript("/jquery/jquery.validate.min.js")
<script type="text/javascript">
    var PushMkt = PushMkt || {};

    PushMkt.AddBillingFunctions = function (model) {
        var self = model;

        self.BackToShippingInfo = function () {
            $("[name='glideToShipping']").hide();
            self.GlideLeft("Shipping", self.InitializeShippingForms);
        }

        self.InitializeBillingForms = function () {  
            var data = self.Cart().BillingInfo;
            data.CardNumber("");
            data.CVV("");
            data.ExpirationMonth(null);
            data.ExpirationYear(null);
            
            $("#billingAddressForm").validate({
                rules: {
                    name: {
                        required: true,
                    },
                    address1: { 
                        required: true,
                    },
                    city: { 
                        required: true,
                    },
                    zipCode: { 
                        required: true,
                    },
                    state: {
                        required: true,
                    },                    
                    phone: { 
                        required: true,
                    },
                },
                highlight: function(element) {
                    $(element)
                        .closest('.control-group')
                        .addClass('error');
                },
                unhighlight:  function(element) {
                    $(element)
                        .closest('.control-group')
                        .removeClass('error');
                },
                errorPlacement: function(error,element) {
                    return true;
                },
                errorContainer: $("#addressValidationErrors"),
            });

            $("#paymentForm").validate({
                rules: {
                    cardNumber: {
                        required: true,
                        creditcard: true,
                    },
                    CVV: { 
                        required: true,
                        number: true,
                        minlength: 3,
                    },
                    expirationMonth: { 
                        required: true,
                    },
                    expirationYear: { 
                        required: true,
                    },                    
                },
                highlight: function(element) {
                    $(element)
                        .closest('.control-group')
                        .addClass('error');
                },
                unhighlight:  function(element) {
                    $(element)
                        .closest('.control-group')
                        .removeClass('error');
                },
                errorPlacement: function(error,element) {
                    return true;
                },
                errorContainer: $("#paymentValidationErrors"),
            });
        }

        self.SubmitOrderClick = function () {
            var failed = false;
            failed = (! $("#billingAddressForm").valid()) || failed;
            failed = (! $("#paymentForm").valid()) || failed;            
            if (failed) {
                return;
            }

            $("[name='btn-submit-order']").hide();
            self.ProcessOrder();
        }

        self.ProcessOrder = function() {
            flow.exec(
                function() {
                    var jsonOrder = {
                        Items: [],
                        ShippingInfo: CopyPropertiesFromKo(self.Cart().ShippingInfo),
                        BillingInfo: CopyPropertiesFromKo(self.Cart().BillingInfo),
                    };

                    AQ(self.Cart().Items()).each(function(x) {
                        jsonOrder.Items.push({
                            SkuCode: x.Sku().SkuCode,
                            Quantity: x.Quantity(),
                        });
                    });

                    self.Service.AjaxPost("/Admin/Order/SubmitOrder", jsonOrder, this);
                },
                function(response) {
                    if (!response.Success) {
                        $("[name='btn-submit-order']").show();
                        self.ShowModal(
                            "Notification", 
                            "Order Submission", 
                            "There was a problem submitting your Order", 
                            response.Messages);
                    } else {
                        console.log(response);
                        self.GlideRight("Completion");
                        // Glide to Completion screen
                    }
                }
            );
        }
    }
</script>

<style>
    .checkout-form2 .control-group 
    {
        margin-bottom:10px;
    }
    .checkout-form2 .control-group .control-label
    {
        width:100px;
    }    
    .checkout-form2 .control-group .controls
    {
        width:600px;
        margin-left:110px;
    }
    .shipping-summary-item div, .shipping-summary-item span, .shipping-summary-item strong, .shipping-summary span
    {
        font-size: 11px;
        line-height: 14px;
    }
</style>

<!-- KNOCKOUT TEMPLATES - Billing -->
<script type="text/html" id="Top-Workspace-Billing">
	<div id="heading" class="container">
        <div class="row">
			<div class="span9">
				<h1>Create Order &gt; Billing</h1>
			</div>
			<div class="span3" style="margin-top:15px; text-align:right;">
                <a name="btn-submit-order" class="btn btn-primary" style="width:190px;" data-bind="click: $root.SubmitOrderClick">
                    <i class="icon-thumbs-up icon-white"></i> OK, Submit Order <i class="icon-arrow-right icon-white"></i>
                </a>
			</div>
		</div>

        <div class="row">
            <div class="span7" style="height:48px;">
                <ul class="nav nav-pills">
                    <li style="width:270px; text-align:center;">
				        <a name="glideToShipping" href="#" class="backbutton" data-bind="click: $root.BackToShippingInfo">&laquo; Make Changes to Shipping or Order</a>
                    </li>
                </ul
            </div>
        </div>
	</div>
</script>
<script type="text/html" id="Main-Editor-Billing">
    <div style="margin-bottom:200px;">                
        <div style="float:left; width:690px;" data-bind="with: $root.Cart().BillingInfo">
            
            <h4 style="float:left; margin-bottom:15px; margin-top:20px;">Billing Address</h4>
            <a href="#" data-bind="click:$root.Cart().CopyShippingToBilling" style="margin-top:20px; margin-left:10px; float:left;">(click here to copy Shipping Address)</a>
            <div style="clear:both;"></div>

            <div id="addressValidationErrors" style="width:570px; text-align:center;" class="alert alert-error hide">
                <strong>Please enter valid Billing Address information</strong>  
		    </div>

            <form id="billingAddressForm" class="form-horizontal checkout-form1">
                <div style="height:105px;">
                    <div style="float:left; width:300px;">
                        <div class="control-group">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                <input type="text" name="name" data-bind="value: $data.Name" placeholder="Name" maxlength="50">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="address1">Address 1</label>
                            <div class="controls">
                                <input type="text" name="address1" data-bind="value: $data.Address1" placeholder="Address Line 1" maxlength="50">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="address2">Address 2</label>
                            <div class="controls">
                                <input type="text" name="address2" data-bind="value: $data.Address2" placeholder="Address Line 2" maxlength="50">
                            </div>
                        </div>
                    </div>

                    <div style="float:left; width:300px; margin-left:20px;">
                        <div class="control-group">
                            <label class="control-label" for="city">City</label>
                            <div class="controls">
                                <input type="text" name="city" data-bind="value: $data.City" placeholder="City" maxlength="25">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="state">State</label>
                            <div class="controls">
                                <select id="state" name="state"
                                    data-bind="options: PushMkt.StatesOfAmerica, optionsText: 'Name', optionsValue: 'Abbreviation', value: $data.State, optionsCaption:'Choose a State' " />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="state">Zip Code</label>
                            <div class="controls">
                                <input type="text" name="zipCode" data-bind="value: $data.ZipCode" placeholder="Zip Code" maxlength="5">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            
            <h4 style="margin-bottom:15px; margin-top:40px;">Payment Information</h4>
            
            <div id="paymentValidationErrors" style="width:570px; text-align:center;" class="alert alert-error hide">
                <strong>Please enter valid Payment Information</strong>  
		    </div>

            <form id="paymentForm" class="form-horizontal checkout-form2">
                <div data-bind="with: $root.Cart().BillingInfo">
                    <div style="clear:both;">
                        <div class="control-group" style="float:left; width:270px;">
                            <label class="control-label" for="cardNumber">Card Number</label>
                            <div class="controls">
                                <input type="text" name="cardNumber" data-bind="value: $data.CardNumber" placeholder="Card Number" maxlength="16">
                            </div>
                        </div>
                        <div class="control-group" style="float:left; width:200px;">
                            <label class="control-label" for="CVV">CVV</label>
                            <div class="controls">
                                <input type="text" style="width:75px;" name="CVV" data-bind="value: $data.CVV" placeholder="CVV" maxlength="16">
                            </div>
                        </div>
                    </div>
                    
                    <div style="clear:both;">
                        <div class="control-group" style="float:left; width:200px;">
                            <label class="control-label" for="lastName">Expires Month</label>
                            <div class="controls">
                                <select id="state" name="expirationMonth" style="width:100px;"
                                    data-bind="options: PushMkt.ExpirationMonths, value: $data.ExpirationMonth, optionsCaption:'Month' " />
                            </div>
                        </div>
                        <div class="control-group" style="float:left; width:240px;">
                            <label class="control-label" for="lastName">Expires Year</label>
                            <div class="controls">
                                <select id="state" name="expirationYear" style="width:100px;"
                                    data-bind="options: PushMkt.ExpirationYears, value: $data.ExpirationYear, optionsCaption:'Year' " />
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div style="clear:both; margin-top:15px; margin-bottom:100px; width:500px;" data-bind="with: $root.Cart().ShippingInfo">
                <h4 style="margin-bottom:10px; margin-top:30px; float:left;">Shipping Info</h4>
                <a href="#" name="glideToShipping" data-bind="click:$root.BackToShippingInfo" style="margin-top:30px; margin-left:10px; float:left;">(edit)</a>

                <div style="clear:both;">
                    <div data-bind="text: $data.Name()"></div>
                    <div data-bind="text: $data.Address1"></div>
                    <div data-bind="text: $data.Address2"></div>
                    <div data-bind="text: $data.City() + ', ' + $data.State() + ' ' + $data.ZipCode()"></div>
                </div>
            </div>
        </div>

        <div style="float:left; width:250px;" data-bind="template: { name: 'Order-Summary' }">
        </div>
    </div>
</script>
