<!-- Completion Functions -->
<script type="text/javascript">
    var PushMkt = PushMkt || {};

    PushMkt.AddCompletionFunctions = function (model) {
        var self = model;

        self.CompletedOrderResponse = ko.observable(null);

        self.StartOverClick = function () {
            // Clear Cart
            self.SearchData.removeAll();
            self.Cart(new PushMkt.Cart());

            // Glide Right to Beginning
            self.GlideRight("SelectProducts");
        };

        // TODO: remove this after testing
        //testData = { "Success": true, "Messages": ["Payment of $422.33 succeeded ", "Only 1 of the 1 Tatami Estilo 3.0 Premier BJJ Gi - Blue - Medium you requested was available in stock.", "There are no longer any of the Tatami Estilo 3.0 Premier BJJ Gi - Black - Medium available in stock.", "Refund of $276.25 succeeded "], "Order": { "Id": 14, "ExternalId": "BHU-37696", "CustomerId": "8a83b090-8bc3-40b9-bdba-1144bfc91fd0", "EmailAddress": "aleksjones@gmail.com", "Name": "Aleksandr Jones", "Address1": "123 Test Street", "Address2": "Suite 100", "City": "Mount Prospect", "State": "IL", "ZipCode": "60013", "Phone": "510-717-8112", "ShippingMethod": { "Id": 1, "Description": "UPS Ground (7-10 days)", "Cost": 7.95 }, "OrderLines": [{ "Id": 18, "Status": 1, "Sku": { "Id": 2, "SkuCode": "TAT-1010-BLUE-MD", "OriginalSkuCode": "TAT-1010-BLUE-MD", "Product": { "Id": 1, "Name": "Tatami Estilo 3.0 Premier BJJ Gi", "SkuCode": "TAT-1010", "SEO": "tatmi-estilo", "Synopsis": "The Tatami Fightwear Estilo Premier BJJ GI range is designed for the BJJ athlete that's tough!", "Description": "The Tatami Fightwear Estilo Premier BJJ GI range is designed for the BJJ athlete who is looking for a BJJ GI that is built to the highest quality and craftsmanship but also with cutting edge style and detailing. The Estilo BJJ GI is constructed using only the best quality materials and is a must for any serious BJJ athletes.", "UnitPrice": 130.00, "UnitCost": 45.00, "Brand": null, "Category": null, "Active": true, "Colors": [{ "Id": 1, "Name": "Blue", "SkuCode": "BLUE", "SEO": "blue", "ColorImageBundle": null, "ProductImageBundle": { "Id": 18, "ExternalId": "0ab78997-0ba0-4e40-9fa8-1dcddd5c81bf", "Original": null, "Thumbnail": null, "Large": null, "Small": null, "Deleted": false, "DateInserted": "2013-04-18T08:29:50.943", "DateUpdated": "2013-04-18T08:29:50.943" }, "Order": 1 }, { "Id": 2, "Name": "Black", "SkuCode": "BLACK", "SEO": "black", "ColorImageBundle": null, "ProductImageBundle": { "Id": 13, "ExternalId": "865e0b46-9307-4762-8bda-d2e0cb131c03", "Original": null, "Thumbnail": null, "Large": null, "Small": null, "Deleted": false, "DateInserted": "2013-04-18T08:29:49.797", "DateUpdated": "2013-04-18T08:29:49.797" }, "Order": 2}], "Sizes": [{ "Id": 2, "Abbr": "M", "Name": "Medium", "SkuCode": "MD", "IsDeleted": false, "Order": 2}], "Images": [], "AssignImagesToColors": true, "ThumbnailImageBundle": { "Id": 18, "ExternalId": "0ab78997-0ba0-4e40-9fa8-1dcddd5c81bf", "Original": null, "Thumbnail": null, "Large": null, "Small": null, "Deleted": false, "DateInserted": "2013-04-18T08:29:50.943", "DateUpdated": "2013-04-18T08:29:50.943" }, "IsDeleted": false, "DateCreated": "2013-04-18T08:29:49.023", "LastModified": "2013-04-18T08:29:49.023" }, "Color": { "Id": 1, "Name": "Blue", "SkuCode": "BLUE", "SEO": "blue", "ColorImageBundle": null, "ProductImageBundle": { "Id": 18, "ExternalId": "0ab78997-0ba0-4e40-9fa8-1dcddd5c81bf", "Original": null, "Thumbnail": null, "Large": null, "Small": null, "Deleted": false, "DateInserted": "2013-04-18T08:29:50.943", "DateUpdated": "2013-04-18T08:29:50.943" }, "Order": 1 }, "Size": { "Id": 2, "Abbr": "M", "Name": "Medium", "SkuCode": "MD", "IsDeleted": false, "Order": 2 }, "Name": "Tatami Estilo 3.0 Premier BJJ Gi - Blue - Medium", "ImageBundle": { "Id": 18, "ExternalId": "0ab78997-0ba0-4e40-9fa8-1dcddd5c81bf", "Original": null, "Thumbnail": null, "Large": null, "Small": null, "Deleted": false, "DateInserted": "2013-04-18T08:29:50.943", "DateUpdated": "2013-04-18T08:29:50.943" }, "InStock": 15, "Reserved": 15, "Available": 0, "IsDeleted": false, "DateInserted": "2013-04-18T08:29:52.523", "LastModified": "2013-04-18T08:29:52.523" }, "OriginalSkuCode": "TAT-1010-BLUE-MD", "OriginalName": "Tatami Estilo 3.0 Premier BJJ Gi - Blue - Medium", "OriginalUnitPrice": 130.00, "Quantity": 1, "LinePrice": 130.00 }, { "Id": 19, "Status": 1, "Sku": { "Id": 7, "SkuCode": "TAT-1010-BLACK-MD", "OriginalSkuCode": "TAT-1010-BLACK-MD", "Product": { "Id": 1, "Name": "Tatami Estilo 3.0 Premier BJJ Gi", "SkuCode": "TAT-1010", "SEO": "tatmi-estilo", "Synopsis": "The Tatami Fightwear Estilo Premier BJJ GI range is designed for the BJJ athlete that's tough!", "Description": "The Tatami Fightwear Estilo Premier BJJ GI range is designed for the BJJ athlete who is looking for a BJJ GI that is built to the highest quality and craftsmanship but also with cutting edge style and detailing. The Estilo BJJ GI is constructed using only the best quality materials and is a must for any serious BJJ athletes.", "UnitPrice": 130.00, "UnitCost": 45.00, "Brand": null, "Category": null, "Active": true, "Colors": [{ "Id": 1, "Name": "Blue", "SkuCode": "BLUE", "SEO": "blue", "ColorImageBundle": null, "ProductImageBundle": { "Id": 18, "ExternalId": "0ab78997-0ba0-4e40-9fa8-1dcddd5c81bf", "Original": null, "Thumbnail": null, "Large": null, "Small": null, "Deleted": false, "DateInserted": "2013-04-18T08:29:50.943", "DateUpdated": "2013-04-18T08:29:50.943" }, "Order": 1 }, { "Id": 2, "Name": "Black", "SkuCode": "BLACK", "SEO": "black", "ColorImageBundle": null, "ProductImageBundle": { "Id": 13, "ExternalId": "865e0b46-9307-4762-8bda-d2e0cb131c03", "Original": null, "Thumbnail": null, "Large": null, "Small": null, "Deleted": false, "DateInserted": "2013-04-18T08:29:49.797", "DateUpdated": "2013-04-18T08:29:49.797" }, "Order": 2}], "Sizes": [{ "Id": 2, "Abbr": "M", "Name": "Medium", "SkuCode": "MD", "IsDeleted": false, "Order": 2}], "Images": [], "AssignImagesToColors": true, "ThumbnailImageBundle": { "Id": 18, "ExternalId": "0ab78997-0ba0-4e40-9fa8-1dcddd5c81bf", "Original": null, "Thumbnail": null, "Large": null, "Small": null, "Deleted": false, "DateInserted": "2013-04-18T08:29:50.943", "DateUpdated": "2013-04-18T08:29:50.943" }, "IsDeleted": false, "DateCreated": "2013-04-18T08:29:49.023", "LastModified": "2013-04-18T08:29:49.023" }, "Color": { "Id": 2, "Name": "Black", "SkuCode": "BLACK", "SEO": "black", "ColorImageBundle": null, "ProductImageBundle": { "Id": 13, "ExternalId": "865e0b46-9307-4762-8bda-d2e0cb131c03", "Original": null, "Thumbnail": null, "Large": null, "Small": null, "Deleted": false, "DateInserted": "2013-04-18T08:29:49.797", "DateUpdated": "2013-04-18T08:29:49.797" }, "Order": 2 }, "Size": { "Id": 2, "Abbr": "M", "Name": "Medium", "SkuCode": "MD", "IsDeleted": false, "Order": 2 }, "Name": "Tatami Estilo 3.0 Premier BJJ Gi - Black - Medium", "ImageBundle": { "Id": 13, "ExternalId": "865e0b46-9307-4762-8bda-d2e0cb131c03", "Original": null, "Thumbnail": null, "Large": null, "Small": null, "Deleted": false, "DateInserted": "2013-04-18T08:29:49.797", "DateUpdated": "2013-04-18T08:29:49.797" }, "InStock": 10, "Reserved": 10, "Available": 0, "IsDeleted": false, "DateInserted": "2013-04-18T08:29:52.527", "LastModified": "2013-04-18T08:29:52.527" }, "OriginalSkuCode": "TAT-1010-BLACK-MD", "OriginalName": "Tatami Estilo 3.0 Premier BJJ Gi - Black - Medium", "OriginalUnitPrice": 130.00, "Quantity": 0, "LinePrice": 0.00}], "StateTax": { "Abbreviation": "IL", "Name": "Illinois", "TaxRate": 6.25 }, "DateCreated": "2013-04-20T13:54:38.9046624Z", "Transactions": [{ "Id": 11, "TransactionDate": "2013-04-20T08:54:38.9046624-05:00", "Amount": 422.325, "TransactionType": 1, "Success": true, "ProcessorCode": "PAID-3333", "Details": "Payment accepted", "ReferenceCode": "da107c12-6cd2-4e7d-b9a1-dc7d4f3d9392", "OriginalReferenceCode": "da107c12-6cd2-4e7d-b9a1-dc7d4f3d9392" }, { "Id": 0, "TransactionDate": "2013-04-20T08:54:39.1896787-05:00", "Amount": 276.250, "TransactionType": 2, "Success": true, "ProcessorCode": "REFUND-7777", "Details": "Refund granted", "ReferenceCode": "489739d0-2785-4406-801f-aa6f76e96095", "OriginalReferenceCode": "da107c12-6cd2-4e7d-b9a1-dc7d4f3d9392"}], "Notes": [{ "Id": 11, "DateCreated": "2013-04-20T13:54:38.9046624Z", "Content": "Payment of $422.33 succeeded " }, { "Id": 12, "DateCreated": "2013-04-20T13:54:39.0836726Z", "Content": "Only 1 of the 1 your requested Tatami Estilo 3.0 Premier BJJ Gi - Blue - Medium was available in stock.  The size of your order was reduced." }, { "Id": 13, "DateCreated": "2013-04-20T13:54:39.0836726Z", "Content": "There are no longer any of the Tatami Estilo 3.0 Premier BJJ Gi - Black - Medium available in stock." }, { "Id": 0, "DateCreated": "2013-04-20T13:54:39.1896787Z", "Content": "Refund of $276.25 succeeded "}], "SubTotal": 130.00, "Tax": 8.125, "GrandTotal": 146.075, "OriginalGrandTotal": 422.325, "RefundedAmount": 276.250, "AllSkuCodes": ["TAT-1010-BLUE-MD", "TAT-1010-BLACK-MD"], "Complete": true} };
        //self.CompletedOrderResponse(testData);
    }
</script>

<!-- KNOCKOUT TEMPLATES - Completion -->
<script type="text/html" id="Top-Workspace-Completion">
	<div id="heading" class="container">
        <div class="row">
			<div class="span9">
				<h1>Create Order &gt; Complete!</h1>
			</div>
			<div class="span3" style="margin-top:15px; text-align:right;">
                <a name="btn-submit-order" class="btn btn-primary" style="width:190px;" data-bind="click: $root.StartOverClick">
                    <i class="icon-pencil icon-white"></i> Create Another Order <i class="icon-arrow-right icon-white"></i>
                </a>
			</div>
		</div>

        <div class="row">
            <div class="span7" style="height:48px;">
                <!-- NADA -->
            </div>
        </div>
	</div>
</script>

<script type="text/html" id="Main-Editor-Completion">
    <div style="margin-bottom:100px;" data-bind="with: $root.CompletedOrderResponse()">
        <!-- Thank you for your Order -->

        <div class="hero-unit" style="margin-top:30px;">
            <h1 style="font-size:45px;">Thanks for Shopping With Pushmarket!</h1>
            
            <!-- Order Fulfillment -->
            <div style="clear:both; width:100%; margin-bottom:20px;">
                <h4 style="margin-bottom:10px; margin-top:30px; color:#666;">Order Fulfillment</h4>

                <table>
                    <tbody data-bind="foreach: $data.Messages">
                    <tr>
                        <td>
                            <span data-bind="text: $data"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div data-bind="if: $data.Order.GrandTotal > 0">
                <table data-bind="with: $data.Order">
                <tr>
                    <td  valign="top" style="width:375px;">
                        <!-- Payment Summary & Shipping Information -->
                        <h4 style="margin-bottom:10px; color:#666;">Payment Summary</h4>
                    
                        <table id="order-summary">
                            <tr>
                                <td>Order Subtotal:</td>
                                <td><span data-bind="text: ToMoney($data.SubTotal)"></span></td>
                            </tr>
                            <tr>
                                <td>Sales Tax (<span data-bind="text: $data.StateTax.Abbreviation"></span>):</td>
                                <td><span data-bind="text: ToMoney($data.Tax)"></span></td>
                            </tr>
                            <tr>
                                <td>Shipping:</td>
                                <td><span data-bind="text: ToMoney($data.ShippingCost)"></span></td>
                            </tr>
                            <tr>
                                <td><span style="font-weight:bold; color:#444;">Order Total:</span></td>
                                <td><span style="font-weight:bold; color:#444;" data-bind="text: ToMoney($data.GrandTotal)"></span></td>
                            </tr>
                        </table>

                        <h4 style="margin-bottom:10px; margin-top:30px; float:left; color:#666;">Shipping - <span data-bind="text: $data.ShippingMethod.Description"></span></h4>

                        <div style="clear:both;">
                            <div data-bind="text: $data.Name"></div>
                            <div data-bind="text: $data.Address1"></div>
                            <div data-bind="text: $data.Address2"></div>
                            <div data-bind="text: $data.City + ', ' + $data.State + ' ' + $data.ZipCode"></div>
                        </div>
                    </td>

                    <td valign="top">
                        <div data-bind="if: $data.GrandTotal > 0">
                            <!-- Order Summary -->
                            <h4 style="margin-bottom:10px; color:#666;">Order Summary</h4>

                            <div data-bind="foreach: $data.OrderLines">
                                <div data-bind="if: $data.Quantity > 0">
                                    <span style="font-weight:bold" data-bind="text: $data.Sku.Name"></span>
                                    <div style="clear:both;"></div>

                                    <span>Quantity:</span> <span data-bind="text: $data.Quantity"></span> - 
                                    <span>Price per Item:</span> <span data-bind="text: ToMoney($data.OriginalUnitPrice)"></span>
                                    <div style="clear:both; height:10px;"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</script>
