<!-- Shipping Functions -->
@Html.Javascript("/jquery/jquery.validate.min.js")
<script type="text/javascript">
    var PushMkt = PushMkt || {};

    PushMkt.AddShippingFunctions = function (model) {
        var self = model;

        self.BackToReviewOrder = function () {
            $("[name='glideToReview']").hide();
            self.GlideLeft("ReviewProducts");
        }

        self.InitializeShippingForms = function () {
            $("#emailForm").validate({
                rules: {
                    emailAddress: {
                        required: true,
                        email: true
                    },
                },
                highlight: function(element) {
                    $(element)
                        .closest('.control-group')
                        .addClass('error');
                },
                unhighlight:  function(element) {
                    $(element)
                        .closest('.control-group')
                        .removeClass('error');
                },
                errorPlacement: function(error,element) {
                    return true;
                },
                errorContainer: $("#emailValidationErrors"),
            });

            $("#addressForm").validate({
                rules: {
                    firstName: {
                        required: true,
                    },
                    lastName: { 
                        required: true,
                    },
                    address1: { 
                        required: true,
                    },
                    city: { 
                        required: true,
                    },
                    zipCode: { 
                        required: true,
                    },
                    state: {
                        required: true,
                    },                    
                    phone: { 
                        required: true,
                    },
                },
                highlight: function(element) {
                    $(element)
                        .closest('.control-group')
                        .addClass('error');
                },
                unhighlight:  function(element) {
                    $(element)
                        .closest('.control-group')
                        .removeClass('error');
                },
                errorPlacement: function(error,element) {
                    return true;
                },
                errorContainer: $("#addressValidationErrors"),
            });
        }

        self.GotoBilling = function () {
            var failed = false;
            if (!self.Cart().ShippingInfo.ShippingOption()) {
                $("#shippingValidationErrors").show();
                failed = true;
            } else {
                $("#shippingValidationErrors").hide();
            }
            failed = (! $("#emailForm").valid()) || failed;
            failed = (! $("#addressForm").valid()) || failed;
            
            // DO IT!
            if (!failed) {
                $("[name='btn-goto-billing']").hide();
                self.GlideRight("Billing", self.InitializeBillingForms);
            }
        }
    }
</script>
<style>  
    .checkout-form1 .control-group 
    {
        margin-bottom:10px;
    }
    .checkout-form1 .control-group .control-label
    {
        width:80px;
    }    
    .checkout-form1 .control-group .controls
    {
        width:300px;
        margin-left:90px;
    }
</style>
<!-- KNOCKOUT TEMPLATES - Shipping -->
<script type="text/html" id="Top-Workspace-Shipping">
	<div id="heading" class="container">
        <div class="row">
			<div class="span9">
				<h1>Create Order &gt; Shipping</h1>
			</div>
			<div class="span3" style="margin-top:15px; text-align:right;">
                <div data-bind="if: $root.Cart().TotalQuantity()">
                    <a name="btn-goto-billing" class="btn btn-primary" style="width:190px;" data-bind="click: $root.GotoBilling">
                        $ Proceed to Billing <i class="icon-arrow-right icon-white"></i>
                    </a>
                </div>
			</div>
		</div>

        <div class="row">
            <div class="span7" style="height:48px;">
                <ul class="nav nav-pills">
                    <li style="width:190px; text-align:center;">
				        <a name="glideToReview" href="#" class="backbutton" data-bind="click: $root.BackToReviewOrder">&laquo; Make Changes to Cart</a>
                        &nbsp;
                    </li>
                </ul
            </div>
        </div>
	</div>
</script>
<script type="text/html" id="Main-Editor-Shipping">
    <div style="margin-bottom:200px;">                
        <div style="float:left; width:690px;" data-bind="with: $root.Cart().ShippingInfo">
            <h4 style="margin-bottom:15px; margin-top:20px;">Email Address</h4>
            
            <div id="emailValidationErrors" style="width:570px; text-align:center;" class="alert alert-error hide">
                <strong>Please enter a valid Email Address</strong>  
		    </div>

            <form id="emailForm" class="form-horizontal checkout-form1">
                <div class="control-group">
                    <label class="control-label" for="emailAddress">Email Addr.</label>
                    <div class="controls">
                        <input type="text" name="emailAddress" data-bind="value: $data.EmailAddress" placeholder="Email Address" maxlength="50">
                    </div>
                </div>                
            </form>
            
            <h4 style="margin-bottom:15px; margin-top:40px;">Shipping Address</h4>
            
            <div id="addressValidationErrors" style="width:570px; text-align:center;" class="alert alert-error hide">
                <strong>Please enter valid Shipping Address information</strong>  
		    </div>

            <form id="addressForm" class="form-horizontal checkout-form1">
                <div style="height:150px;">
                    <div style="float:left; width:300px;">
                        <div class="control-group">
                            <label class="control-label" for="firstName">First Name</label>
                            <div class="controls">
                                <input type="text" name="firstName" data-bind="value: $data.FirstName" placeholder="First Name" maxlength="50">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="lastName">Last Name</label>
                            <div class="controls">
                                <input type="text" name="lastName" data-bind="value: $data.LastName" placeholder="Last Name" maxlength="50">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="address1">Address 1</label>
                            <div class="controls">
                                <input type="text" name="address1" data-bind="value: $data.Address1" placeholder="Address Line 1" maxlength="50">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="address2">Address 2</label>
                            <div class="controls">
                                <input type="text" name="address2" data-bind="value: $data.Address2" placeholder="Address Line 2" maxlength="50">
                            </div>
                        </div>
                    </div>

                    <div style="float:left; width:300px; margin-left:20px;">
                        <div class="control-group">
                            <label class="control-label" for="city">City</label>
                            <div class="controls">
                                <input type="text" name="city" data-bind="value: $data.City" placeholder="City" maxlength="25">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="state">State</label>
                            <div class="controls">
                                <select id="state" name="state"
                                    data-bind="options: PushMkt.StatesOfAmerica, optionsText: 'name', optionsValue: 'abbreviation', value: $data.State, optionsCaption:'Choose a State' " />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="state">Zip Code</label>
                            <div class="controls">
                                <input type="text" name="zipCode" data-bind="value: $data.ZipCode" placeholder="Zip Code" maxlength="5">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="state">Phone</label>
                            <div class="controls">
                                <input type="text" name="phone" data-bind="value: $data.Phone" placeholder="Phone" maxlength="15">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <h4 style="margin-bottom:15px; margin-top:40px;">Shipping Method</h4>

            <div id="shippingValidationErrors" style="width:570px; text-align:center;" class="alert alert-error hide">
                <strong>Please choose a Shipping Option</strong>  
		    </div>

            <div style="margin-bottom:80px;">
                <form id="shipping" class="form-horizontal checkout-form1">                    
                    <div data-bind="foreach: PushMkt.ShippingOptions">
                        <div style="clear:both; width:300px;">
                            <label>
                                <input type="radio" name="shippingSelect" data-bind="value: $data.Id, checked: $parent.ShippingOption" /> 
                                <span data-bind="text: $data.Name"></span>
                                <span data-bind="text: ToMoney($data.Cost)"></span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>            
        </div>

        <div style="float:left; width:250px;" data-bind="template: { name: 'Order-Summary' }">
        </div>
    </div>
</script>