	<!-- KNOCKOUT TEMPLATE - Modal Dialog for Notifiation Template -->
	<script type="text/html" id="Modal-Dialog-Notification">
		<div id="modal-dialog" class="modal hide fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3><span data-bind="text: $data.Header"></span></h3>
			</div>

			<div class="modal-body">
				<p><span data-bind="text: $data.Body"></span></p>

                <div data-bind="if: $data.List">
                    <ul data-bind="foreach: $data.List">
                        <li data-bind="text:$data"></li>
                    </ul>
                </div>
			</div>

			<div class="modal-footer">
				<a href="#" id="modal-action" class="btn btn-primary" data-bind="click: function() { $data.OkButton()(); } ">
                    <i class="icon-ok icon-white"></i> Ok</a>
			</div>
		</div>
	</script>

    <!-- Pass the ModalDialogViewModel to this as the $data parameter -->
	<script type="text/html" id="Modal-Dialog-Scaffolding">        
        <div id="modal-enclave" data-bind="template: { name: $data.Template, data: $data } "></div>
        </div>
    </script>
    
    <script type="text/javascript">
        var PushMkt = PushMkt || {};

        PushMkt.ModalDialogViewModel = function () {
            var self = this;
            self.Template = ko.observable(null);
            self.Header = ko.observable(null);
            self.Body = ko.observable(null);
            self.List = ko.observable(null);
            self.OkButton = ko.observable(null);

            self.ShowModal = function (template, header, body, list, callback) {
                self.Template("Modal-Dialog-" + template);
                self.Header(header);
                self.Body(body);
                self.List(list);
                if (callback) {
                    self.OkButton(callback);
                } else {
                    self.OkButton(function () { self.HideModal(); });
                }

                $('#modal-dialog').modal('show');
            };

            self.HideModal = function () {
                $('#modal-dialog').modal('hide');
            }
        }
    </script>
    