    <div id="push-library-shim">
        <div id="spinner-layer" class="spinner-layer" style="display:none;">
		    <div id="spinner" class="spinner">
			    <img id="img-spinner" src="@Url.Content("~/Content/Commerce.Web/Images/ajax_loader.gif")" alt="Loading"/>
		    </div>
	    </div>
	    
		<div id="modal-error" class="modal hide fade">
			<div class="modal-header">
				<h3>Oh Noes!</h3>
			</div>
			<div class="modal-body">
				<p><strong>Something went wrong with the system.</strong></p>			
				<p>Note: if this keeps happening, please contact Customer Support.</p>
			</div>
			<div class="modal-footer">
				<a href="#" id="modal-action" class="btn btn-primary" data-bind="click: function() { location.reload(true); }"><i class="icon-ok icon-white"></i> Ok, Reload Page</a>
			</div>
		</div>
    </div>