@model Commerce.Web.Areas.Public.Models.ProductListModel

@{
    ViewBag.Title = "List";
}


@section _Body {
    
    <div id="heading" class="container" style="margin-top:200px;">
        <h1>Welcome to The Art of Ground Fighting.com - Under Construction</h1>
        @Html.RouteLink("Go To Admin Area", AdminNavigation.Home())<br />
        @Html.RouteLink("Go To Admin Login", AdminNavigation.Login())<br />  
        <a href="@Url.Content("~/Public/System/Exception")">Let things blow up!</a><br />
    </div>

}