    @Html.Javascript("/farbtastic/farbtasticSecure.js")
    @Html.Stylesheet("/farbtastic/farbtasticSecure.css")

	<script type="text/javascript">
	    var CreateColorPicker = function () {
	        $('#picker').farbtastic('#color');
	    }

	    var GetSelectedColor = function () {
	        return $(".form-item > #color").val();
	    }
    </script>

	<script type="text/html" id="Color-Picker">
        <div style="width:195px;">
            <div class="form-item">
                <label for="color">Color Picker:</label>
                <input type="text" id="color" name="color" value="#FFFFFF" style="width:180px;" />
            </div>
            <div id="picker"></div>
        </div>
    </script>

