@model Commerce.WebUI.Areas.Public.Models.ProductListModel

@{
    ViewBag.Title = "List";
}

<h1>Welcome Back to Pleiades!- Under Construction</h1>
@Html.RouteLink("Go To Admin Area", AdminNavigation.Home())
@Html.RouteLink("Go To Admin Login", AdminNavigation.Login())
