<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AzureHosted" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StorefrontUrl" value="http://localhost/ArtOfGroundFighting.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StorefrontName" value="ArtOfGroundFighting" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="PleiadesDb" providerName="System.Data.SqlClient"
         connectionString="Data Source=Localhost;Initial Catalog=AogfDev; Integrated Security=SSPI;" />
  </connectionStrings>

  <stripeConfiguration xdt:Transform="Replace"
      SecretKey="sk_test_dXprm3JDq3jO6mgd9wZczhoQ"
      PublishableKey="pk_test_9RUVhRhHKgJwABqlIpKE4hLB"
      StripeUrl="http://stripe.com/v2/testUrl"
      ServerSideMockEnabled="true"
      ClientSideMockEnabled="true" />

  <emailConfiguration xdt:Transform="Replace"
      SmtpHost="smtp.gmail.com"
      SmtpPort="587"
      SmtpUserName="artofgroundfighting@gmail.com"
      SmtpPassword="qVk8juBpNsFpd3MY9Ovu"
      CustomerServiceEmail="artofgroundfighting@gmail.com"
      SystemEmail="artofgroundfighting@gmail.com"
      TemplateDirectory=".\EmailTemplates\"
      ServerSideMockEnabled="true"
      MockServiceOutputDirectory="C:\Dev\Pleiades\MailDump\" />  
</configuration>
