<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="azureConfiguration" type="System.Configuration.SingleTagSectionHandler"  xdt:Transform="Insert" />
  </configSections>

  <appSettings>
    <add key="AzureHosted" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StorefrontUrl" value="http://sandbox.artofgroundfighting.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StorefrontName" value="ArtOfGroundFighting" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  
  <azureConfiguration xdt:Transform="Insert"
      StorageConnectionString="DefaultEndpointsProtocol=http;AccountName=pushmarket;AccountKey=nnmR6WJyet4vA+fh4F4Z2zTktx/GvhgfC4rdKTNZneXl2WjRJw7zU/ZBcgFDYOSKSqwBYM1S/Pt3MYpqBBeBkg=="
      ResourcesStorageContainer="artofgroundfightingsandbox"                      
      LogEntryTable="AogfSandboxLog" />
  
  <connectionStrings xdt:Transform="Replace">
    <add name="PleiadesDb" connectionString="Data Source=Azure;Initial Catalog=AogfSandbox;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <stripeConfiguration xdt:Transform="Replace"
      SecretKey="sk_test_dXprm3JDq3jO6mgd9wZczhoQ"
      PublishableKey="pk_test_9RUVhRhHKgJwABqlIpKE4hLB"
      StripeUrl="http://stripe.com/v2/testUrl"
      ServerSideMockEnabled="true"
      ClientSideMockEnabled="true" />

  <emailConfiguration xdt:Transform="Replace"
      SmtpHost="smtp.gmail.com"
      SmtpPort="587"
      SmtpUserName="artofgroundfightingsandbox@gmail.com"
      SmtpPassword="qVk8juBpNsFpd3MY9Ovu"
      CustomerServiceEmail="artofgroundfightingsandbox@gmail.com"
      SystemEmail="artofgroundfightingsandbox@gmail.com"
      TemplateDirectory=".\EmailTemplates\"
      ServerSideMockEnabled="true"
      MockServiceOutputDirectory="C:\Dev\Pleiades\MailDump\" />
  
</configuration>
