<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="stripeConfiguration" type="System.Configuration.SingleTagSectionHandler"  xdt:Transform="Insert" />
    <section name="emailConfiguration" type="System.Configuration.SingleTagSectionHandler"  xdt:Transform="Insert" />
    <section name="azureConfiguration" type="System.Configuration.SingleTagSectionHandler"  xdt:Transform="Insert" />
  </configSections>
  
  <appSettings>
    <add key="AzureHosted" value="true" xdt:Transform="Insert" />
  </appSettings>

  <azureConfiguration
      StorageConnectionString="DefaultEndpointsProtocol=http;AccountName=pushmarket;AccountKey=nnmR6WJyet4vA+fh4F4Z2zTktx/GvhgfC4rdKTNZneXl2WjRJw7zU/ZBcgFDYOSKSqwBYM1S/Pt3MYpqBBeBkg=="
      StorageContainerName="artofgroundfighting"  />

  <stripeConfiguration
      SecretKey="sk_test_dXprm3JDq3jO6mgd9wZczhoQ"
      PublishableKey="pk_test_9RUVhRhHKgJwABqlIpKE4hLB"
      StripeUrl="http://stripe.com/v2/testUrl"
      ServerSideMockEnabled="true"
      ClientSideMockEnabled="true" />

  <emailConfiguration
      SmtpHost="smtp.gmail.com"
      SmtpPort="587"
      SmtpUserName="artofgroundfighting@gmail.com"
      SmtpPassword="qVk8juBpNsFpd3MY9Ovu"
      CustomerServiceEmail="artofgroundfighting@gmail.com"
      SystemEmail="artofgroundfighting@gmail.com"
      TemplateDirectory="C:\DEV\Pleiades\Commerce.ArtOfGroundFighting\EmailTemplates"
      ServerSideMockEnabled="true"
      MockServiceOutputDirectory="C:\Dev\Pleiades\MailDump\" />

  <system.diagnostics xdt:Transform="Insert">
    <trace>
      <listeners>
        <add 
          type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
