@using System.Configuration
    <div class="navbar navbar-fixed-bottom">
        <div class="bottom-navbar-style" style="background-color: #333; color: #FFF;">
            <div class="container">
                <footer>
                    <p>@ConfigurationManager.AppSettings["PushMarketSoftwareName"] |
                        @ConfigurationManager.AppSettings["PushMarketCompanyName"] | 
                        <a style="color:#08C;" href="http://www.pushmarket.info">http://www.pushmarket.info</a></p>
                </footer>
            </div>
        </div>
    </div>
