@using Commerce.Web

    <div id="top-menu-bar" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <img src="@Url.Content("~/Content/Commerce.Web/Images/webicon-2.png")" style="float:left;" />
		  <a class="brand" href="@Url.RouteUrl(AdminNavigation.Home())" style="color:#FFF;">Pushmarket</a>

          <div class="nav-collapse">           
			<p class="navbar-text pull-right">Currently not Logged in</p>
          </div>
        </div>
      </div>
    </div>
