<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FrameworkIntegrationTestDb" 
         connectionString="Data Source=PLEIADES;Initial Catalog=FrameworkIntegrationTestDb;Integrated Security=SSPI;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>