<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Pleiades.ServiceHostApp.SimpleService" behaviorConfiguration="SimpleServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/MetadataSample"/>
          </baseAddresses>
        </host>
        
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="Pleiades.ServiceHostApp.ISimpleService" />        
        
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    
    <!-- Resuable behavior configurations -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="SimpleServiceBehavior">
          <serviceMetadata httpGetEnabled="True" policyVersion="Policy15" />
        </behavior>
      </serviceBehaviors>
    </behaviors>    
  </system.serviceModel>
</configuration>
