@model Commerce.Web.Models.Auth.PasswordRequestModel
@using Commerce.Web

@{
    Layout = "~/Views/Shared/_LayoutBare.cshtml";
}

@section _Body {    
    <div class="workspace-heading-parent">
        <div class="workspace-heading">
            <div id="heading" class="container">
                <div class="row">
                    <div class="span12">
                        <h1>Request Password Reset</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <ul class="nav nav-pills">
                            <li style="width: 150px;">
                                <a id="glideToParent" class="backbutton" href="@Url.RouteUrl(Navigation.Login())">&laquo; Back to Login</a>
                                &nbsp;
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="body-container" class="container">
        @using (Html.BeginForm("PasswordRequest", "Password", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table>
            @if (!ViewContext.ViewData.ModelState.IsValid)
            {
            <tr>
                <td colspan="2">
                    <div class="alert alert-error" style="padding-top: 17px;">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        @Html.ValidationSummary()
                    </div>
                </td>
            </tr>
            }

            <tr>
                <td class="label-right" style="vertical-align: top; height:60px;">Enter your account Email Address:</td>
                <td style="vertical-align: top; height:60px;">
                    @Html.TextBoxFor(x => x.Email, new { maxlength = "50" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="left">
                    <a href="@Url.RouteUrl(Navigation.Login())" class="btn btn-inverse">
                        <i class="icon-remove icon-white"></i> Cancel
                    </a>
                    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Ok</button>
                </td>
            </tr>
        </table>
    }
    </div>
}
