@model Commerce.Web.Models.Auth.PasswordRequestModel
@using Commerce.Web

@section _Body {    
    <div class="workspace-heading-parent">
        <div class="workspace-heading">
            <div id="heading" class="container">
                <div class="row">
                    <div class="span12">
                        <h1>Request Password Reset</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <ul class="nav nav-pills">
                            <li style="width: 150px;">
                                <a id="glideToParent" class="backbutton" href="@Url.RouteUrl(Navigation.Login())">&laquo; Back to Login</a>
                                &nbsp;
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="body-container" class="container">            
        <table>
            <tr>
                <td class="label-right" colspan="2" style="vertical-align: top; height:60px;">A password reset link was sent to your email address.</td>
            </tr>
            <tr>
                <td></td>
                <td align="left">
                    <a href="@Url.RouteUrl(Navigation.Login())" class=" btn btn-primary"><i class="icon-ok icon-white"></i> Go To Login</a>
                </td>
            </tr>
        </table>
    </div>
}
