@section _Body {
    <div id="body-container" class="container">
        <h1>Welcome to PushMarket v1.0 (prototype)</h1>
        <div style="clear:both; height:20px;"></div>

        <p>This is a temporary placeholder until more content is developed!</p>
        @Html.RouteLink("Manage Admin Users", AdminNavigation.ManagerList())

        <br />
    </div>
}