@model Commerce.WebUI.Areas.Admin.Models.LogOnViewModel

@{
    ViewBag.Title = "Login";
}


@section _Body {    
    <div id="body-container" class="container">        
      <div class="hero-unit">
        <h1 style="margin-bottom:20px;">admin sign-in</h1>
		
        @using (Html.BeginForm("Login", "Auth", "POST")) {
		    <div style="float:left; margin-right:20px;">
			    <label>Enter your User Id</label>
                @Html.TextBoxFor(x => x.UserName)
		    </div>
		
		    <div style="float:left; margin-right:20px;">
				<label>Enter your Password</label>	
				@Html.PasswordFor(x => x.Password)
		    </div>
		    
		    <div style="width:150px; float:left; padding-top:20px;">
			    <button type="submit" class="btn btn-primary btn-large btn-block">Login &raquo;</button>
            </div>
		    
		    <div style="clear:both;"></div>            
        }
		<hr />
		
		<div style="clear:both;">

            @if (!ViewContext.ViewData.ModelState.IsValid) 
            {
                <div class="alert alert-error">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    @Html.ValidationMessage("", "WARNING - unable to log in")
                </div>
            }
            
            <a href="@Url.RouteUrl(PublicNavigation.Home())">&laquo; Back to the Storefront</a> | 
			<a href="#">Unable to Login? &raquo;</a>
		</div>
      </div>
    </div>
}
