<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="PagedList" />
        <add namespace="Pleiades.Commerce.Domain.Model" />
        <add namespace="Pleiades.Commerce.WebUI.Plumbing.UI.HtmlHelpers" />
        <add namespace="Pleiades.Commerce.WebUI.Areas.Admin.Models" />
        <add namespace="Pleiades.Utilities" />
        <add namespace="Pleiades.Web.Common.MvcHelpers" />
        <add namespace="Pleiades.Web.Security.Utility" />
        <add namespace="Pleiades.Web.Security.Model" />
      </namespaces>
    </pages>
        
    
    <!-- Security Configuration - BEGIN -->
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/Account/Logon" timeout="2880" />
    </authentication>

    <membership defaultProvider="CustomerMembershipProvider">
      <providers>
        <clear />
        <add name="CustomerMembershipProvider"
             type="Pleiades.Web.Security.Providers.MembershipProvider,Pleiades.Web"
             connectionStringName="PleiadesDB"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="true"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>
    
    <!-- For SHA1, set the validationKey to 64 bytes (128 hexadecimal characters).
      For AES, set the decryptionKey to 32 bytes (64 hexadecimal characters).
      For 3DES, set the decryptionKey to 24 bytes (48 hexadecimal characters). -->
    <machineKey
      decryption="AES"
      decryptionKey="AF9531C15F404D0CAF8DFA5B4F8A18F264BD4D934E5B78356AC3C834E2906055"
      validation="SHA1"
      validationKey="FAE8EA5759A0B166962D71B5C7DAA431662C8B4DE50E28D1FB7791BF2A46C7BE98323AF7BA4A790312CFB4C2C0AF7489E5D738C8B068C1C496C783DA6A20DA5A"
      />
  </system.web>
  <!-- Security Configuration - END -->
  
  

  <connectionStrings>
    <add name="PleiadesDB" connectionString="metadata=res://*/Security.Data.PleiadesWeb.csdl|res://*/Security.Data.PleiadesWeb.ssdl|res://*/Security.Data.PleiadesWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PLEIADES;Initial Catalog=PleiadesDB;Persist Security Info=True;User ID=sa;Password=ay3IXJ8D12EQnVNrIhXm;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="PleiadesDBEntities" connectionString="metadata=res://*/Data.PleiadesWeb.csdl|res://*/Data.PleiadesWeb.ssdl|res://*/Data.PleiadesWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PLEIADES;Initial Catalog=PleiadesDB;Persist Security Info=True;User ID=sa;Password=ay3IXJ8D12EQnVNrIhXm;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ApplicationServices"
         connectionString="Data Source=PLEIADES;Initial Catalog=PLEIADESDB;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
