body {
}

.table td {
	vertical-align:middle;
}

h4 {
	color: #666;
}

.editorRow:hover {
	background-color: #c4e3f3;
}

#top-menu-bar { 
	z-index: 1000;
}

.workspace-heading-parent {
	position: fixed; 
	top: 0px; 
	width: 100%; 
	background-color: #FFF; 
	z-index: 800;
}

.workspace-heading { 
	position: fixed; 
	padding-top: 60px; 
	top: 0px; 
	width: 100%; 
	height: 105px; 
	background-color: #FFF;
	border-bottom: 1px dotted #CCC;
	z-index: 800;
}

#body-container {
	top: 165px; 
	width: 940px; 
	position: relative;
    margin-top:30px;
}

#gliding-container {
	top: 165px; 
	width: 940px; 
	position: relative;
}

#parent-editor { 
	left: 0px; 
	width: 940px; 
	position: absolute;
}

#child-editor { 
	left: 0px; 
	width: 940px; 
	position: absolute; 
}

#sub-child-editor 
{
	left: 0px; 
	width: 940px; 
	position: absolute; 
}


#glideToParent 
{
    text-align:center;
    cursor:pointer;
}

.spinner-layer {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 900;
	width: 100%; 
	height: 100%;
	background:rgba(255,255,255,0.5);
    /* filter: alpha(opacity=50); */
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -100px; /* half width of the spinner gif */
    margin-top: -100px; /* half height of the spinner gif */
    text-align: center;
    z-index: 900;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.bottom-navbar-style {
	background-color: #FFF; 
	height: 30px; 
	padding-top: 10px;  
	border-top: 1px dotted #CCC;
}

/* This doesn't work right now - revisit */
.ui-state-highlight {
    height: 110px; background-color:#99BBFF; 
}

.sortable {
    list-style-type: none; margin: 0; padding: 0; width: 932px;
}
.sortable li {
    margin: 3px 3px 3px 0; padding: 1px; float: left; width:165px; height:190px; text-align: center; 
}

.nav-pills > .active > a.backbutton {
    background-color:#666;
}
