<script type="text/javascript">
    var PushMkt = namespace("PushMkt");

    PushMkt.AddImageFunctions = function(rootModel) {
        var self = rootModel;

        self.ImageTab = {
            Colors: ko.observableArray(),
            Images: ko.observableArray(),
            FileUpload: {
                ImageBundleExternalId: ko.observable("00000000-0000-0000-0000-000000000000"),
                Description: ko.observable(""),
            },
            SelectedColorForUpload: ko.observable(),
        };

        self.ProductColorWithImagesById = function(id) {
            for (var i = 0; i < self.ImageTab.Colors().length; i++) {
                var color = self.ImageTab.Colors()[i];
                if (color.Id == id) {
                    return color;
                }
            }
            return null;
        };
        
        self.ImagesTabClick = function() {
            self.ImagesTabClickImpl();
        };

        self.ImagesTabClickImpl = function(callback) {
            var colorData, scrollTop;
            scrollTop = $(document).scrollTop();
            
            if (self.SelectedProduct().AssignImagesToColors()) {
                flow.exec(
                    function() {
                        self.ImageTab.Colors.removeAll();
                        self.ProductService.Colors(self.SelectedProduct().Id(), this);
                    },
                    function(colorJson) {
                        $.each(colorJson, function(index, elem) {
                            elem.Images = ko.observableArray();
                        });

                        colorData = colorJson;
                        self.ProductService.Images(self.SelectedProduct().Id(), this);
                    },
                    function(imageData) {
                        self.ImageTab.Colors(colorData);                        
                        $.each(imageData, function(index, elem) {
                            var color = AQ(self.ImageTab.Colors()).firstOrDefault(function(x) { return x.Id == elem.ProductColorId; });                            
                            color.Images.push(elem);
                        });
                        self.SetActiveMainEditor("Images");
                        self.MakeImagesSortable();
                        $(document).scrollTop(scrollTop);
                        if (callback) {
                            callback();
                        }
                    }
                );
            } else {
                flow.exec(
                    function() {
                        self.ImageTab.Colors.removeAll();
                        self.ProductService.Images(self.SelectedProduct().Id(), this);
                    },
                    function(images) {
                        self.ImageTab.Images(images);
                        self.SetActiveMainEditor("Images");
                        self.MakeImagesSortable();
                        $(document).scrollTop(scrollTop);
                        if (callback) {
                            callback();
                        }
                    }
                );
            }
        };

        self.MakeImagesSortable = function() {
            $(".colorDrop").droppable({
                drop: self.DropFunction
            });

            $.each($(".sortable"), function(index, elem) {
                $(elem)
                    .sortable({
                        placeholder: "ui-state-highlight",
                        update: function() {
                            self.UpdateImageSortOrder(elem);
                        },
                        delay: 150
                    })
                    .disableSelection();
            });
        };

        self.DropFunction = function(event, ui) {
            var colorDropElem = $(this).closest("table.colorDrop");
            if (colorDropElem.length == 0) {
                console.log("missed drop - type 1!");
                console.log(this);
                return;
            }
            if ($(event.toElement).closest("li").length == 0) {
                console.log("missed drop - type 2!");
                return;
            }
            if ($(event.toElement).closest("table").length == 0) {
                console.log("missed drop - type 3!");
                return;
            }
            if (!$(event.toElement).closest("table").attr("id")) {
                console.log("missed drop - type 4!");
                return;
            }

            var imageId = $(event.toElement).closest("li").attr("id").replace("sorted", "");
            var originalColorId = $(event.toElement).closest("table").attr("id").replace('color', '');
            var newColorId = colorDropElem.attr("id").replace("color", "");

            //console.log("originalColorId: " + originalColorId + " " + " newColorId: " + newColorId + " imageId: " + imageId);
            self.UpdateImageToColorAssignment(originalColorId, newColorId, imageId);
        };

        self.UpdateImageToColorAssignment = function(originalColorId, newColorId, imageId) {
            if (originalColorId == newColorId) {
                return;
            }

            flow.exec(
                function() {
                    self.ProductService.ChangeImageColor(self.SelectedProduct().Id(), imageId, newColorId, this);
                },
                function() {
                    self.ImagesTabClickImpl();
                }
            );
        };

        self.UpdateImageSortOrder = function(element) {
            flow.exec(
                function() {
                    var sortOutput = [];
                    var sortedElements = $(element).find("li");
                    $.each(sortedElements, function(index, elem) {
                        sortOutput.push($(elem).attr('id').replace('sorted', ''));
                    });

                    var sortedIds = sortOutput.join(",");
                    self.ProductService.UpdateImageOrder(self.SelectedProduct().Id(), sortedIds, this);
                },
                function() {
                    self.ImagesTabClickImpl();
                });
        };

        self.GlideBackToImages = function() {
            flow.exec(
                function() {
                    $("#glideToParent").hide();
                    self.GlideLeft("Child", "Images", this);
                },
                function() {
                    self.MakeImagesSortable();                    
                }
            );
        };

        self.DeleteProductImage = function(image) {
            flow.exec(
                function() {
                    self.ProductService.DeleteProductImage(self.SelectedProduct().Id(), image.Id, this);
                },
                function(data) {
                    console.log(image);
                    if (self.SelectedProduct().AssignImagesToColors()) {
                        var color = AQ(self.ImageTab.Colors()).firstOrDefault(function(x) { return x.Id == image.ProductColorId; });                            
                        color.Images.remove(image);
                    } else {
                        self.ImageTab.Images.remove(image);
                    }
                }
            );
        };

        self.AddNewImageForColor = function(data) {
            self.ImageTab.SelectedColorForUpload(data);
            self.SlideToImageUpload();
        };

        self.AddNewImage = function() {
            self.ImageTab.SelectedColorForUpload(null);
            self.SlideToImageUpload();
        };

        self.SlideToImageUpload = function() {
            flow.exec(
                function() {                    
                    self.GlideRight("AddImage", "AddImage", this);
                },
                function() {
                    var fileUploader = new Commerce.FineUploader.Uploader(self.OnImageUpload);
                }
            );
        };

        self.SaveImage = function() {
            var newId;
            
            flow.exec(
                function() {
                    if (!self.ImageTab.FileUpload.ImageBundleExternalId()) {
                        $("#validation").show();
                        return;
                    }
                    
                    var newProductImage = {
                        ImageBundleExternalId: self.ImageTab.FileUpload.ImageBundleExternalId(),
                        Description: self.ImageTab.FileUpload.Description(),
                        ProductColorId: self.ImageTab.SelectedColorForUpload() ? self.ImageTab.SelectedColorForUpload().Id : null,
                    };
                    self.ProductService.AddProductImage(self.SelectedProduct().Id(), newProductImage, this);
                },
                function(data) {
                    newId = data.Id;
                    console.log(data);
                    self.ImagesTabClickImpl(this);
                },
                function () {
                    $("#glideToParent").hide();
                    self.GlideLeft("Child", "Images", this);
                },
                function() {
                    self.MakeImagesSortable();
                    self.ScrollTracker.ScrollToTracker("sorted" + newId);
                }
            );
        };

        self.OnImageUpload = function(data) {
            self.ImageTab.FileUpload.ImageBundleExternalId(data.ExternalId);
        };

        self.AssignImagesToColorClick = function() {            
            flow.exec(
                function() {
                    self.ProductService.Colors(self.SelectedProduct().Id(), this);
                },
                function(data) {
                    if (data.length == 0) {
                        return;
                    }
                    var id = self.SelectedProduct().Id();
                    self.ProductService.AssignImagesToColor(id, this);
                },
                function() {
                    self.SelectedProduct().AssignImagesToColors(true);
                    self.ImagesTabClick();
                }
            );
        };

        self.UnassignImagesFromColorClick = function() {
            flow.exec(
                function() {
                    var id = self.SelectedProduct().Id();
                    self.ProductService.UnassignImagesFromColor(id, this);
                },
                function() {
                    self.SelectedProduct().AssignImagesToColors(false);
                    self.ImagesTabClick();
                }
            );
        };
    };
</script>

<script type="text/html" id="Main-Editor-Images">
    <div style="height:20px;"></div>    
    <div data-bind="template: { data: $root, name: 'Images-Assigned-To-Color' }"></div>
    <div data-bind="template: { data: $root, name: 'Images-Not-Assigned-To-Color' }"></div>
</script>

<script type="text/html" id="Images-Assigned-To-Color">
    <div data-bind="if: $root.SelectedProduct() && $root.SelectedProduct().AssignImagesToColors() == true">
        <div style="margin-top:20px; text-align:center;" class="alert alert-info" data-bind="visible: $root.ImageTab.Colors().length == 0">
            <strong>There are no Colors for this Product.  Click on the Colors tab to add Colors.</strong>  
        </div>
        <!-- ko foreach: $root.ImageTab.Colors() -->
        <div>
            <table class="table-hover colorDrop" data-bind="attr: { id: 'color' + $data.Id }">
                <tr>
                    <td valign="top" style="padding-top:20px;">
                        <div style="width:712px;">
                            <div data-bind="ifnot: $data.Images().length">
                                <h2 style="text-align:center; padding-top:50px; color:#CCC;">No Images For This Color</h2>
                            </div>                            
                            
                            <ul class="sortable" data-bind="attr: { id: 'images' + $data.Id }">
                                <!-- ko foreach: $data.Images() -->
                                <li data-bind="attr: { id: 'sorted' + $data.Id }">
                                    <div style="width:160px; padding-bottom:5px;" 
                                         data-bind="template: { name: 'Image-Bundle-Small-Viewer', data: { ImageBundleExternalId: $data.ImageBundleExternalId, LightboxSuffixId: 'ImageUpload' } }">
                                    </div>
                                    <a href="#" style="width:55px;" class="btn btn-inverse btn-small disabled"><i class="icon-screenshot icon-white"></i> Drag!</a>
                                    <a class="btn btn-primary btn-small" style="width:55px;" href="#" data-bind="click: function() { $root.DeleteProductImage($data) }"><i class="icon-trash icon-white"></i> Delete</a>			
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                    </td>

                    <td valign="top" style="width:220px; text-align:left; vertical-align:top; padding-top:20px; padding-right:20px; height:200px;">
                        <div data-bind="ifnot: $data.Name == 'Unassigned'">
                            <div style="width:80px; margin-bottom:5px;" 
                                 data-bind="template: { name: 'Image-Bundle-Thumbnail-Viewer', data: { ImageBundleExternalId: $data.ImageBundleExternalId, LightboxSuffixId: 'AssignImageToColor' } }">
                            </div>
                            <p>
                                <strong data-bind="text: $data.Name"></strong> - <span data-bind="text: $data.SkuCode"></span>
                            </p>
                        </div>
                        <div data-bind="ifnot: $data.Name == 'Unassigned'">           
                            <a class="btn btn-primary" href="#" data-bind="click: $root.AddNewImageForColor"><i class="icon-plus icon-white"></i> Add Image</a>
                        </div>
                        <div style="clear:both; height:30px;"></div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /ko -->

        <div style="display:block; margin-bottom:200px; clear:both;">
        </div>
    </div>
</script>

<script type="text/html" id="Images-Not-Assigned-To-Color">
    <div data-bind="ifnot: $root.SelectedProduct() && $root.SelectedProduct().AssignImagesToColors() == true" style="margin-top:20px;">
        <div style="margin-top:20px; text-align:center;" class="alert alert-info" data-bind="visible: $root.ImageTab.Images().length == 0">
            <strong>There are no images for this Product.  Click "Add Image" to Upload an image.</strong>  
        </div>
        <ul class="sortable" data-bind="foreach: $root.ImageTab.Images()">
            <li data-bind="attr: { id: 'sorted' + $data.Id }">
                <div style="width:160px; padding-bottom:5px;" data-bind="template: { name: 'Image-Bundle-Small-Viewer', data: { ImageBundleExternalId: $data.ImageBundleExternalId, LightboxSuffixId: 'ImageTab' } }">
                </div>
                <a href="#" style="width:55px;" class="btn btn-inverse btn-small disabled"><i class="icon-screenshot icon-white"></i> Drag!</a>
                <a class="btn btn-primary btn-small" style="width:55px;" href="#" data-bind="click: function() { $root.DeleteProductImage($data) }"><i class="icon-trash icon-white"></i> Delete</a>			
            </li>
        </ul>
        <div style="display:block; margin-bottom:200px; clear:both;">
        </div>
    </div>
</script>

<script type="text/html" id="Top-Workspace-AddImage">
    <div class="workspace-heading" style="height:125px;">
        <div class="container" data-bind="if: $root.SelectedProduct()" style="height:124px;">
            <div class="row" style="position:relative;">				
                <div class="span12">
                    <h1>Products &gt; <span data-bind="text: $root.SelectedProductName"></span></h1>
                </div>
            </div>
                
            <div style="height:20px;"></div>

            <div class="row">
                <div class="span2">
                    <ul class="nav nav-pills">
                        <li style="width:150px;">
                            <a id="glideToParent" data-bind="click: $root.GlideBackToImages">&laquo; Back to Product</a>
                            &nbsp;
                        </li>
                    </ul>
                </div>
                <div class="span7" style="padding-left:20px;">
                    <p class="lead" style="color:#999;">Upload an Image of your Product</p>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="Main-Editor-AddImage">
    <div style="height:40px;"></div>

    <div data-bind="with: $root.ImageTab.FileUpload">
        <form>
            <div id="validation" style="text-align:center; clear:both; display: none;" class="alert alert-error">
                <strong>Please Upload an Image.</strong>
            </div>

            <div class="row">
                <div class="span3">
                    <div style="margin-bottom:20px;" data-bind="template: { name: 'Image-Bundle-Small-Viewer', data: { ImageBundleExternalId: $data.ImageBundleExternalId(), LightboxSuffixId: 'Child' } }">
                    </div>

                    <div style="margin-bottom:20px; margin-top:20px;" data-bind="template: { name: 'Fine-Uploader', data: $data }">
                    </div>
                </div>

                <div class="span9">
                    <div class="row">
                        <div class="span6">
                            <label>Image Description<br /><input class="input-large" style="width:300px;" type="text" placeholder="Enter Image Description" data-bind="value: $data.Description" maxlength="100" />
                            </label>
                        </div>
                        <div class="span3">
                            <a class="btn btn-inverse" href="#" data-bind="click: $root.GlideBackToImages"><i class="icon-remove icon-white"></i> Cancel</a>                    
                            <a class="btn btn-primary" href="#" data-bind="click: $root.SaveImage"><i class="icon-ok icon-white"></i> Save</a>
                        </div>
                    </div>

                    <div class="row" data-bind="if: $root.ImageTab.SelectedColorForUpload()">
                        <div class="span6">
                        </div>
                        <div class="span3">
                            <!-- ko if:  $root.ImageTab.SelectedColorForUpload().Id -->
                                <label>Assigned Color<br />
                                <div style="width:80px; margin-bottom:5px;" 
                                    data-bind="template: { name: 'Image-Bundle-Thumbnail-Viewer', data: { ImageBundleExternalId: $root.ImageTab.SelectedColorForUpload().ImageBundleExternalId, LightboxSuffixId: 'Parent' } }">
			                    </div>
                                </label>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
       </form>
    </div>
</script>
