
	<!-- KNOCKOUT TEMPLATE - TOP WORKSPACE COLOR-SUBVIEW -->
<script type="text/html" id="Top-Workspace-Drilldown">
    <div class="workspace-heading" style="height:125px;">
        <div class="container" data-bind="if: $root.SelectedProduct()" style="height:124px;">
            <div class="row" style="position:relative;">				
                <div class="span12">
                    <h1>Products &gt; <span data-bind="text: $root.SelectedProductName"></span></h1>
                </div>
            </div>
                
            <div style="height:20px;"></div>

            <!-- ko if: $root.GetActiveMainEditor() == 'AddSizesFromList' -->
            <div class="row">
                <div class="span2">
                    <ul class="nav nav-pills">
                        <li style="width:140px;">
                            <a id="glideToParent" data-bind="click: $root.GlideBackToSizes">&laquo; Back to Product</a>
                            &nbsp;
                        </li>
                    </ul>
                </div>
                <div class="span5">
                    <p class="lead" style="color:#999;">Select Sizes to add to your Product</p>
                </div>
                <div class="span5" style="text-align:right;">
                    <a class="btn btn-inverse" href="#" data-bind="click: $root.GlideBackToSizes"><i class="icon-remove icon-white"></i> Cancel</a>                    
                    <a class="btn btn-primary" href="#" data-bind="click: $root.AddSizesToProductClick"><i class="icon-ok icon-white"></i> Add Sizes</a>
                </div>
            </div>
            <!-- /ko -->

		    </div>
		</div>
	</script>
    
